- content_for :header do
  .pull-right
    = link_to new_admin_prize_path, :class => 'button button-hollow button-round button-small preview-website' do
      Создать приз

  .breadcrumbs
    Призы
    %small(style="color: #ccc")
      = Prize.all.count

.table-container

  - if @prizes.present?

    %table.table
      %thead
        %tr
          %th
            Название
          %th
            Дата создания

      - @prizes.each do |prize|
        %tr
          %td
            = prize.title
          %td
            %p= prize.created_at.strftime("%Y-%m-%d %H:%M")

    .pages-container
      = paginate @prizes

  - else

    %p(style="margin-left: 40px") Призов пока нет
