- content_for :header do

  .pull-right
    = link_to admin_prizes_path, :class => 'button button-hollow button-round button-small preview-website' do
      Вернуться к списку

  .breadcrumbs
    Новый приз

  = form_for [:admin, @prize] do |f|
    .table-container
      %table.table.table-form
        %tr
          %td
            Название
          %td
            = f.text_field :title

    %button.button.button-primary{:type => "submit"}
      %i.icon.icon-check
      Создать
