- content_for :header do

  - if @counter == 0
    .pull-right
      = link_to recreate_admin_maps_path, :method => :post, :class => 'button button-hollow button-round button-small preview-website' do
        Пересоздать карту

  .breadcrumbs Карта

  %p Чтобы создать карту, нужно чтобы в каждом регионе была выбрана картинка для карты.

  - if @counter > 0
    %p
      Сейчас у
      = @counter
      = Russian.p(@counter, "региона", "регионов", "регионов")
      не выбрана картинка для карты или не загружена заглушка. Создание новой карты невозможно
  - else
    %p
      = link_to "Создать новую карту", recreate_admin_maps_path, :method => :post


  %div.big-map
    - if @map.present?
      = image_tag @map.image_url
