<div class="inpage-form">
<div class="row"><h1 class="small-12 columns">Регистрация на сайте</h1></div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {data: {abide: ''}}) do |f| %>
  <input type="hidden" name="user[provider]" value="<%= session["devise.user_attributes"]["provider"] %>">
  <input type="hidden" name="user[uid]" value="<%= session["devise.user_attributes"]["uid"] %>">
  <div class="row">
    <div class="small-4 columns input-holder"><input type="text" required class="last-name e" name="user[last_name]" id="last_name" placeholder="Фамилия"><small class="error">Это обязательное поле</small></div>
    <div class="small-4 columns input-holder"><input id="first_name" type="text" required class="first-name e" name="user[first_name]" placeholder="Имя"><small class="error">Это обязательное поле</small></div>
    <div class="small-4 columns input-holder"><input type="text" id="middle_name" class="middle-name e" name="user[middle_name]" placeholder="Отчество"></div>
  </div>
  <div class="row">
    <div class="small-4 columns input-holder"><input type="text" required class="post_index e" id="post_index" name="user[post_index]" placeholder="Индекс"><small class="error">Это обязательное поле</small></div>
    <div class="small-4 columns input-holder"><input type="text" required class="city e" id="city" name="user[city]" placeholder="Город"><small class="error">Это обязательное поле</small></div>
    <div class="small-4 columns input-holder"><input type="text" required class="street e" id="street" name="user[street]" placeholder="Улица"><small class="error">Это обязательное поле</small></div>
  </div>
  <div class="row">
    <div class="small-4 columns input-holder"><input type="text" required class="street-number e" id="street_number" name="user[street_number]" placeholder="Дом"><small class="error">Это обязательное поле</small></div>
    <div class="small-4 columns input-holder"><input type="text" class="house-type e" name="user[house_type]" placeholder="Корпус" id="house_type"></div>
    <div class="small-4 columns input-holder"><input type="text" required class="apts-number e" name="user[apts_number]" id="apts_type" placeholder="Квартира"><small class="error">Это обязательное поле</small></div>
  </div>
  <div class="row">
    <div class="small-6 columns input-holder" id="email_holder"><input type="email" required id="register_email" class="email e" name="user[email]" placeholder="E-mail" value="<%= session["devise.user_attributes"]["email"] %>"><small class="error">Неправильный email или он уже зарегистрирован</small></div>
    <div class="small-6 columns input-holder">
      <span data-tooltip aria-haspopup="true" class="rounded-help has-tip" title="Введите ваш e-mail адрес">?</span>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns input-holder"><input type="password" required class="password e" name="user[password]" id="user_password" placeholder="Пароль"><small class="error">Минимальная длина &mdash; 8 символов</small></div>
    <div class="small-6 columns input-holder"><input type="password" required class="password-confirm e" name="user[password_confirmation]" data-equalto="user_password" placeholder="Еще раз"><small class="error">Пароли должны совпадать</small></div>
  </div>
  <div class="row actions">
    <div class="small-12 columns"><button class="right submit-button" type="submit">Зарегистрироваться</button></div>
  </div>
<% end %>
</div>
