= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path, :class => 'active'
  .small-1.columns.centered
    = link_to "Карта счастья", map_path
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title О конкурсе | Карта счастья

%section.about.row
  .small-6.columns
    %h1 О конкурсе

    %p.subheader Помните ли вы то место, где случился ваш первый поцелуй?<br>Где встретили старого школьного друга или самый красивый рассвет?

    %p У каждого из нас есть свои места, подарившие бесценные моменты счастья и превратившиеся в счастливые воспоминания. Поделитесь этими моментами с нами и получите возможность выиграть украшение от SOKOLOV&hellip;

    .image-block
      =image_tag "about-back.jpg"


%section.how-to
  .row.header
    %h2.small-6.centered Как принять участие
    .actions
      = link_to rules_path, :class => 'rounded-button grey', :id => 'rules_path' do
        %span.icon-arrow
        %i Полные правила

  .row.list
    .small-1.columns &nbsp;
    .step-1.small-1.columns
      = image_tag "step-1.png"
      %h4 Сделайте фото в счастливом для вас месте
      %p Это может быть любое место, наполненное приятными воспоминаниями

    .step-2.small-1.columns
      = image_tag "step-2.png"
      %h4 Загрузите фото на сайт
      %p
        Это очень просто, нужно лишь
        - unless user_signed_in?
          <a href="#" class="js-social">зарегистрироваться</a>
        - else
          зарегистрироваться

    .step-3.small-1.columns
      = image_tag "step-3.png"
      %h4 Расскажите о своем участии друзьям
      %p Поделитесь своей работой в социальных сетях и зовите друзей голосовать лайками

    .step-4.small-1.columns
      = image_tag "step-4.png"
      %h4 Выиграйте ювелирные украшения от SOKOLOV

      %p(style="position:relative")

    .small-1.columns &nbsp;


%section.about-winners.row
  .small-6.columns
    %h2 Как определяются победители:
    %p Победители определяются случайным образом среди всех участников, загрузивших свои фото на «Карту счастья»

    .image-block
      = image_tag "about-prize.jpg"

      .container
        %h3 20 призов<br>каждую неделю
        %p Каждую неделю мы отправляем ювелирные украшения от SOKOLOV двадцати счастливчикам

%section.about-dates.row
  .small-6.columns
    %h2 Сроки проведения
    %p Конкурс проводится с 29.06.2015 по 25.08.2015.

%section.about-disclaimer.row
  .small-6.columns
    %p * Организатор вправе в любой момент вносить изменения в условия конкурса, в том числе это касается сроков его проведения. В случае изменений организатор обязуется проинформировать участников путем размещения соответствующего объявления на сайте или в официальных сообществах бренда SOKOLOV в социальных сетях.
