= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title Главная | Карта счастья

%section.visual.row.small-uncollapse

  .small-6.columns.relative
    = image_tag "index-visual-new.jpg", :class => 'back-image'
    .contents
      .subheader фотоконкурс «Карта Счастья»

      %h1 то, что<br>в твоём сердце

      %p Поделитесь тем, что в вашем сердце – загрузите свое фото, сделанное в важном для вас месте. Возможно, именно вам мы отправим следующую «Посылку счастья» с украшением от SOKOLOV

      .actions
        = link_to about_path, :class => 'rounded-button button-style-1 inline mb-10', :id => 'about_path', :style => 'margin-right: 5px' do
          %span.icon-arrow
          %i Узнать больше

%section.how-to
  .row.header
    %h2.small-6.centered Как принять участие
    .actions
      = link_to rules_path, :class => 'rounded-button grey', :id => 'rules_path' do
        %span.icon-arrow
        %i Полные правила

  .row.list
    .small-1.columns &nbsp;
    .step-1.small-1.columns
      = image_tag "step-1.png"
      %h4 Сделайте фото в счастливом для вас месте
      %p Это может быть любое место, наполненное приятными воспоминаниями

    .step-2.small-1.columns
      = image_tag "step-2.png"
      %h4 Загрузите фото на сайт
      %p
        Это очень просто, нужно лишь
        - unless user_signed_in?
          <a href="#" class="js-social">зарегистрироваться</a>
        - else
          зарегистрироваться

    .step-3.small-1.columns
      = image_tag "step-3.png"
      %h4 Расскажите о своем участии друзьям
      %p Поделитесь своей работой в социальных сетях и зовите друзей голосовать лайками

    .step-4.small-1.columns
      = image_tag "step-4.png"
      %h4 Выиграйте ювелирные украшения от SOKOLOV

    .small-1.columns &nbsp;


%section.index-map.row

  .map-area.small-6.columns.relative
    - if @map.present?
      = image_tag @map.image, :id => 'mapx', :usemap => '#m_map'
      %map#m_map(name="m_map")
        - Region.includes(:photos).where(:photos => {:is_approved => true, :is_tile => true}).each do |region|
          - if region.photos.any?
            - photo = region.photos.first
            %area{:shape => 'poly', :coords => region.area, :href => '/photos/'+photo.id.to_s, :title => region.title, :alt => region.title }
          - else
            %area{:shape => 'poly', :coords => region.area, :href => '/map/'+region.alias_path.to_s, :title => region.title, :alt => region.title }


    .actions-bottom


    .actions
      = link_to map_path, :class => 'rounded-button grey' do
        %span.icon-arrow
        %i Все работы участников

    %h2 Карта счастья
    %p Вдохновляйтесь моментами счастья и<br> делитесь своими




%section.carousel
  .slides
    .slide.slide-1
      = image_tag "slide-1.jpg", :class => 'slide-back'
      .container
        %h4 ЧУДЕСНЫЙ<br>приз
        %p Каждую неделю мы отправляем 20 <strong>«Посылок счастья»</strong> с украшениями SOKOLOV случайно выбранным победителям из числа участников, поделившихся с нами своими фото
        .actions
          = link_to winners_path, :class => 'rounded-button no-icon' do
            %i Обладатели подарков

    -# .slide.slide-1
    -#   = image_tag "slide-1.jpg", :class => 'slide-back'
    -#   .container
    -#     %h4 Невероятный<br>приз
    -#     %p Каждую неделю мы отправляем более 20 <strong>«Посылок счастья»</strong> с украшениями SOKOLOV случайно выбранным счастливчикам из общего числа участников, поделившихся с нами своими моментами счастья.
    -#     .actions
    -#       = link_to winners_path, :class => 'rounded-button no-icon' do
    -#         %i Обладатели подарков
    -#
    -# .slide.slide-1
    -#   = image_tag "slide-1.jpg", :class => 'slide-back'
    -#   .container
    -#     %h4 Невероятный<br>приз
    -#     %p Каждую неделю мы отправляем более 20 <strong>«Посылок счастья»</strong> с украшениями SOKOLOV случайно выбранным счастливчикам из общего числа участников, поделившихся с нами своими моментами счастья.
    -#     .actions
    -#       = link_to winners_path, :class => 'rounded-button no-icon' do
    -#         %i Обладатели подарков
    -#
    -# .slide.slide-1
    -#   = image_tag "slide-1.jpg", :class => 'slide-back'
    -#   .container
    -#     %h4 Невероятный<br>приз
    -#     %p Каждую неделю мы отправляем более 20 <strong>«Посылок счастья»</strong> с украшениями SOKOLOV случайно выбранным счастливчикам из общего числа участников, поделившихся с нами своими моментами счастья.
    -#     .actions
    -#       = link_to winners_path, :class => 'rounded-button no-icon' do
    -#         %i Обладатели подарков
