= content_for :main do

  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path, :class => 'active'
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  - if @region.present?
    %title= @region.title + " Карта | Карта счастья"
  - else
    %title Карта | Карта счастья

%section.map.row.map_index
  .small-6.columns

    %h1 Карта счастья

    .main-content
      .map-box#mapview{:data => {:lat => 55.7, :lng => 37.5, :zoom => 7, :empty => asset_path('marker-empty.png')}}

      .contents
        %h2 То, что в твоем сердце

        -# .sort-mode
        -#   %a.by-votes(href="#") По количеству голосов

        .data-block#photos_area
          #photos_area_content
