= content_for :main do

  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path, :class => 'active'

= content_for :page_title do
  %title Правила проведения конкурса | Карта счастья

%section.rules.row
  .small-6.columns
    %h1 Правила проведения<br>конкурса «карта счастья»

    .right.rules-add-photo

    %h3 1. ОБЩИЕ ПОЛОЖЕНИЯ
    %p 1.1. Специальный проект (далее “Конкурс”) проводит Общество с ограниченной ответственностью “Айсберг” (далее “Организатор”).

    %p Адрес:199004, г. Санкт-Петербург, Средний проезд 13, литера А, пом. 1Н<br>ИНН 7801605473<br>КПП 780101001<br>Банковские реквизиты: Филиал “Невский” ООО КБ “МОНОЛИТ” г. Санкт-Петербург<br>Корреспондентский счет: 30101810500000000763

    %p Конкурс проводится в сети Интернет, по адресу: http://happy.sokolov.ru далее “Площадка”). При проведении Конкурса на Площадке осуществляются следующие действия: предоставление и поддержка интернет-ресурса (далее “ресурс”, “промозона”), модерирование анкет и фотографий, размещаемых на ресурсе Организатором; участие в определении победителей в соответствии с настоящими Правилами Конкурса; публикация информации о победителях в промозоне.

    %p 1.2. Общий срок проведения Конкурса: c 29.06.2015 по 23.08.2015 года.<br>Прием работ для участия: с 29.06.2015 по 23.08.2015 года.

    %p 1.3. Конкурс проводится на территории Российской Федерации.

    %p 1.4. Участником Конкурса (далее “Участник”) может стать любое дееспособное физическое лицо не моложе 18 лет, гражданин Российской Федерации, постоянно проживающий (зарегистрированный по месту жительства) на территории Российской Федерации.

    %p 1.5. Участие в Конкурсе означает, что Участник ознакомился и согласился с настоящими Правилами его проведения.

    %p 1.6. В Конкурсе запрещается участвовать работникам и представителям Организатора, аффилированным лицам Организатора, членам семей таких работников и представителей, а также работникам и представителям любых других лиц, имеющих непосредственное отношение к организации проведения Конкурса, либо к проведению настоящего Конкурса, равно как и членам их семей.

    %p 1.7. Акция проводится в целях рекламы, продвижения на рынке и привлечения внимания потребителей к товару, реализуемому Организатором – ювелирным изделиям из золота и серебра под брендом SOKOLOV (Diamant).





    %h3 2. МЕХАНИКА КОНКУРСА
    %p 2.1. Для того чтобы стать участником конкурса, гражданину необходимо в период c 29.06.2015 по 23.08.2015 года зарегистрироваться на сайте http://happy.sokolov.ru (далее по тексту “промозона”), или авторизовавшись через одну из предложенных в процессе регистрации социальных сетей (Вконтакте, Facebook, Одноклассники);

    %p 2.1.1. Для регистрации на промозоне необходимо следовать инструкциям / указаниям регистрационной формы и загрузить на промозоне через регистрационную форму Участника фотографию любимого места, наполненного приятными воспоминаниями. Затем необходимо отметить место на карте, где была сделана фотография, указав адрес в специальном поле или перетащив «пин» (булавку) на соответствующее место карты. Возможно размещение только на территории РФ.

    %p 2.1.2 После одобрения Модератором (процесс модерации должен занимать не более 3 суток), конкурсное фото загружается на промозону. Пользователь может поделиться своей фотографией у себя в соцсетях (Вконтакте, Facebook, Одноклассники) и предложить своим друзьям проголосовать за него, перейдя на промозону.

    %p 2.2. Совершение действий, предусмотренных пунктами 2.1-2.1.2 Правил, считается подачей заявки на участие в Конкурсе.

    %p 2.3. Требования к фотографии, предоставляемой для участия в Конкурсе:

    %p 2.3.1. Фотография не должна копировать любые произведения, принадлежащие другим авторам (включая фотографии, произведения искусства, логотипы и дизайнерские объекты).

    %p 2.3.2. Максимальный размер одной фотографии – 4 мегабайта.

    %p 2.3.3. Подразумевается, что любая персона, изображенная на фотографии, предоставленной для участия в Конкурсе, изъявила согласие на фотографирование и предоставление фотографии для участия в Конкурсе. Такая персона будет также согласна с Правилами данного Конкурса. Все претензии персоны, изображенной на фотографии, разрешаются Участником Конкурса, предоставившим фотографию с изображением персоны для участия в Конкурсе, самостоятельно и за свой счет.

    %p 2.3.4. Фотография является оригинальным и собственным произведением Участника, не являющимся копией любого другого произведения, права на которые принадлежат третьим лицам.

    %p 2.3.5. Никакая третья сторона не обладает авторскими или другими правами на фотографию, передаваемую Участником для участия в Конкурсе, и Участник гарантирует, что ее использование не повлечет нарушение интеллектуальных и иных прав третьих лиц. Направляя фотографию для участия в Конкурсе, Участник тем самым принимает на себя обязательства самостоятельно и за свой счет разрешать претензии третьих лиц в отношении авторских или иных прав на предоставленные для участия в Конкурсе фотографии, Организатор не несет ответственности за нарушение авторских или иных прав на фотографии по причине участия фотографии в Конкурсе и размещения ее на промозоне.

    %p 2.3.6. Во время проведения Конкурса Участник не передает права на фотографию, участвующую в Конкурсе, любым другим третьим лицам.

    %p 2.3.7. Не принимаются к участию в Конкурсе и будут удалены следующие фотографии:

    %p 2.3.7.1. Низкого качества.

    %p 2.3.7.2. В стиле ню (в обнаженном виде).

    %p 2.3.7.3. В перевернутом виде.

    %p 2.3.7.4. Затемненные.

    %p 2.3.7.5. Изображения, созданные или существенно переработанные с использованием графического редактора.

    %p 2.3.8. Фотографии, попадающие в список, указанный в п. 2.3.7, и не соответствующие Правилам и тематике Конкурса, не участвуют в Конкурсе и будут удалены. Организатор самостоятельно принимает решение о соответствии работы настоящим правилам по своему усмотрению.

    %p 2.3.9. Изображение и / или высказывание на фотографии не должно служить пропагандой употребления (распространения) алкогольных напитков, табачных изделий, а также порочить честь и достоинство граждан, побуждать к совершению противоправных действий, жестокости или насилию, оскорблять религиозные чувства граждан, содержать информацию, доступ к которой несовершеннолетних ограничен в соответствии с действующим законодательством.

    %p 2.3.10. Не допускается использование на фотографии и в тексте, размещаемом на промозоне, бранных слов, непристойных и оскорбительных образов, сравнений и выражений, в том числе в отношении пола, расы, национальности, профессии, социальной категории, возраста, языка человека и гражданина, официальных государственных символов (флагов, гербов, гимнов), религиозных символов, объектов культурного наследия (памятников истории и культуры) народов Российской Федерации, а также объектов культурного наследия, включенных в Список всемирного наследия.

    %p 2.3.11. Все фотографии, предоставленные для участия в Конкурсе, размещаются на промозоне за исключением тех, которые будут признаны Организатором не отвечающими Правилам Конкурса.

    %p 2.3.12. Организатор может без объяснения причин отозвать из участия в Конкурсе любую фотографию после ее размещения на промозоне, если фотография не отвечает настоящим Правилам или Участник недобросовестно, неэтично влияет на результаты голосования. Организатор самостоятельно принимает решение о соответствии работы настоящим правилам по своему усмотрению.

    %p 2.3.13. Каждый Участник может загрузить несколько разных фотографий для участия в Конкурсе, но не более одной фотографии в день.

    %p 2.3.14. Все Участники Конкурса самостоятельно оплачивают все расходы, понесенные ими в связи с участием в Конкурсе (в том числе, без ограничений, расходы, связанные с доступом в Интернет).

    %p 2.3.15. Участник предоставляет Организатору права на использование его изображения, персональных данных, его фотографии, а также фотографии, представленной для участия в конкурсе, интервью или иных материалов о нем, связанных с его участием в Конкурсе, для целей проведения Конкурса и выдачи призов, а также при распространении рекламной информации о Конкурсе на неограниченный срок, без ограничения территории и без выплаты каких-либо вознаграждений.

    %p 2.3.16. Участник обязуется не использовать загруженные или отправленные для Конкурса работы и фотографии для участия в аналогичных конкурсах. В противном случае Участник теряет право на получение приза.


    %h3 3. ПРИЗЫ

    %p 3.1. Призовой фонд Конкурса состоит из ювелирных изделий SOKOLOV из серебра.

    %h3 4. ОПРЕДЕЛЕНИЕ ПОБЕДИТЕЛЕЙ
    %p 4.1. Участники, загрузившие фотографии для участия в Конкурсе в соответствии с настоящими Правилами, и чьи фотографии были признаны годными для участия в Конкурсе могут стать обладателями Призов.

    %p 4.1. Среди всех участников, загрузивших фотографии на промозоне, случайным образом с помощью генератора случайных чисел еженедельно определяются 20 победителей, которые получают призы.

    %p 4.2. Общее количество победителей Конкурса в Интернете: 160 победителей, загрузивших фотографию на промозоне, получают призы, которые определяются решением жюри в составе сотрудников Организатора.




    %h3 5. ОПовещение ПОБЕДИТЕЛЕЙ
    %p 5.1. Победители Конкурса будут уведомлены о порядке получения приза в период с 29.06.2015 по 23.08.2015 года.

    %p 5.2. Организатор по электронной почте уведомляет победителей о выигрыше в Конкурсе по электронному адресу, указанному Участником при регистрации.

    %p 5.3. Согласием на получения приза в Интернете считается предоставление следующих данных: фамилия, имя, отчество, полный адрес проживания, индекс, контактный телефон. Перечисленные в данном пункте данные должны быть предоставлены не позднее чем через 2 (две) недели после уведомления Участника о выигрыше. Непредоставление любого из указанных документов в течение 2 (двух) недель после уведомления Победителя о выигрыше считается отказом Победителя от получения приза. Организатор вправе распорядиться таким призом по своему усмотрению, в том числе передать его другому Участнику.

    %p 5.4. Персональные данные, добровольно предоставляемые Участником в электронном или факсимильном письме, используются в целях проведения Конкурса, а также в целях дальнейшего декларирования полученного Участником дохода в соответствии с требованиями налогового законодательства Российской Федерации.

    %p 5.5. Факт участия в Конкурсе означает, что Участник Конкурса дает свое согласие Организатору и Площадке на обработку своих персональных данных, предусмотренных п. п. 2.1, 5.3 и иными положениями настоящих Правил, а именно сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение, блокирование, уничтожение Организатором персональных данных исключительно для целей проведения Конкурса, публикации результатов Конкурса, выдачи призов и рекламных целей в соответствии с требованиями действующего законодательства РФ. Данное согласие действует в течение 5 (пяти) лет с даты направления Заявки для участия в Конкурсе Участником. Участник вправе отозвать согласие на обработку своих персональных данных, направив уведомление Организатору в письменной форме.



    %h3 6. ПОРЯДОК ПОЛУЧЕНИЯ ПРИЗОВ
    %p 6.1. Условия, место проведения и сроки получения призов будут сообщаться Победителю по электронной почте при условии предоставления Победителем документов, указанных в п. 5.3 настоящих Правил.

    %p 6.2. Невыполнение Победителем одного или нескольких действий, перечисленных в п. 5.3 и 5.4 настоящих Правил, либо иных требований в соответствии с настоящими Правилами считается отказом Участника от получения приза. Приз не может быть востребован в дальнейшем, денежная компенсация за материальную часть приза Участнику не выплачивается. Организатор вправе распорядиться таким призом по своему усмотрению, в том числе выдать другому участнику.

    %p 6.3. Для участников, имеющих право на получение призов, факт отправки Организатором приза по почте является моментом передачи приза.

    %p 6.4. Правилами Конкурса не предусмотрено хранение невостребованных призов и возможность их востребования по истечении срока Конкурса. Все не востребованные до истечения срока Конкурса призы (а также призы, от которых отказались победители) остаются у Организатора, который может использовать их по своему усмотрению.


    %h3 7. ПРОЧИЕ УСЛОВИЯ
    %p 7.1. Решения Организатора по всем вопросам, связанным с проведением Конкурса, будут считаться окончательными и распространяться на всех Участников.

    %p 7.2. Организатор оставляет за собой право не вступать в переписку либо иные контакты с Участниками Конкурса, кроме случаев, предусмотренных настоящими Правилами.

    %p 7.3. Организатор не несет ответственности за:

    %p 7.3.1. Неполучение, в том числе в установленный срок от Участников писем и / или документов, необходимых для получения приза Конкурса, по техническим или иным причинам, не зависящим от Организатора.

    %p 7.3.2. Сообщение Участниками неполных и / или неверных контактных и иных данных в соответствии с настоящими Правилами.

    %p 7.3.3. Ошибки / сбои при передаче данных через Интернет или посредством факсимильной связи по вине организаций связи, в результате технических проблем и / или мошенничества в сети Интернет, и/или каналов связи, используемых при проведении Конкурса, а также по иным причинам, не зависящим от Организатора.

    %p 7.3.4. Неисполнение / несвоевременное исполнение Участниками своих обязанностей, предусмотренных настоящими Правилами, рассматривается как отказ от получения приза.

    %p 7.3.5. Организатор вправе использовать по своему усмотрению фотографии и высказывания, предоставленные для участия в Конкурсе, в том числе передавать их третьим лицам для целей проведения настоящего Конкурса.

    %p 7.3.6. Участник согласен и гарантирует наличие согласия других правообладателей на использование присланных им фотографий и высказываний для размещения для всеобщего сведения на любой странице промозоны в период проведения Конкурса.

    %p 7.3.7. Участник не может претендовать на получение каких-либо возмещений или вознаграждение любого рода, вопрос о котором может возникать в связи с переуступкой прав на произведения, переданные для участия в Конкурсе.

    %p 7.3.8. Участник обязуется не использовать материалы, связанные с участием в Конкурсе, для любых коммерческих целей – однако это не накладывает ограничений на использование данных материалов в собственных некоммерческих целях.

    %p 7.3.9. Организатор имеет право по собственному усмотрению изменять Правила проведения Конкурса.

    %p 7.3.10. Организатор не несет ответственности за утерю посылки почтовым оператором и не компенсирует Победителю утерянный таким образом приз.

    %p 7.4. Организатор несет функции налогового агента в соответствии с действующим законодательством РФ (только для главного приза).

    %p 7.5. Организатор не несет ответственность за вред, причиненный жизни, и/или здоровью участников или третьих лиц, повреждение имущества участников или третьих лиц в результате неосторожности участников и/или третьих лиц; нарушения и/или ненадлежащего выполнения и/или несоблюдения участниками и/или третьими лицами норм техники безопасности; действий и/или бездействий третьих лиц; и иных случаях, предусмотренных действующим законодательством Российской Федерации.


    %h3 8. МОДЕРАЦИЯ
    %p 8.1. Модерация является этапом, необходимым для проверки соответствия заявок участников условиям Конкурса. Организатор вправе удалить заявку участника, если она не соответствует Правилам Конкурса.

    %p 8.2. Организатор вправе урезать, обрезать фотографию участника без уведомления его по электронной почте.


    %h3 9. ПОРЯДОК ИНФОРМИРОВАНИЯ УЧАСТНИКОВ КОНКУРСА ОБ ИЗМЕНЕНИИ УСЛОВИЙ КОНКУРСА, ОБ ОТМЕНЕ, ПРИОСТАНОВЛЕНИИ ИЛИ ДОСРОЧНОМ ПРЕКРАЩЕНИИ ПРОВЕДЕНИЯ
    %p 9.1. В случае изменений условий Конкурса, а также его отмены, приостановления или досрочного прекращения Организатор информирует об этом Участников путем размещения соответствующего объявления на Сайте.
