= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path, :class => 'active'
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path


= content_for :page_title do
  %title= "Карта счастья пользователя #{@user.last_name} #{@user.first_name} | Карта счастья"


%section.map.row
  .small-6.columns

    - if @photos.size > 0

      %h1
        Карта счастья пользователя
        = @user.last_name + ' ' + @user.first_name

      .main-content
        .map-box.user-photo#mapview{:data => {:lat => 55, :lng => 50, :zoom => 7, :empty => asset_path('marker-empty.png'), :user => @user.id}}

        .contents
          %h2 То, что в твоем сердце

          -# .sort-mode
          -#   %a.by-votes(href="#") По количеству голосов

          .data-block#photos_area
            #photos_area_content

    - else
      - if user_signed_in?
        - if current_user.id == params[:id]
          %h1
            Ваши фотографии
          %p.no-photos Вы пока не загрузили фотографий либо они еще не прошли модерацию.
        - else
          %h1
            Карта счастья пользователя
            = @user.last_name + ' ' + @user.first_name
          %p.no-photos Пользователь пока не загрузил фотографий либо они еще не прошли модерацию.
      - else
        %h1
          Карта счастья пользователя
          = @user.last_name + ' ' + @user.first_name
        %p.no-photos Пользователь пока не загрузил фотографий либо они еще не прошли модерацию.
