= content_for :main do

  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path
  .small-1.columns.centered
    = link_to "Победители", winners_path, :class => 'active'
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title Победители | Карта счастья

%section.winners.row
  .small-6.columns
    %h1 Победители
    -#- if @current_winners.present?
    -#  %a.winners-sort(href="#") Сортировать по алфавиту
    - unless @current_winners.present?
      .no-winners
        = image_tag "no-winners.jpg"
        .container
          %h2 Здесь скоро появятся<br>первые победители!
          %p

    - else
      .winners-wrap
        - @current_winners.each do |winner|
          .winners-item
            = image_tag winner.photo.image.thumb.url, :class => 'winners-item__photo'
            .winners-item__desc
              %b= winner.user.name
              .votes
                %span
                  %span.icon-like
                %span.counter= winner.photo.cached_votes_up

%section.row
  .small-6.columns
    .winners-banner
      %span Всех победителей просьба связаться с нами для <br> обсуждения вопроса доставки приза:
      %a(href="mailto:promo@sokolov.ru") promo@sokolov.ru

- if @former_winners.present?
  %section.row.winners-before
    .small-6.columns
      %h2.winners__subtitle Победители <br> прошлых недель
      -#%a.winners-sort(href="#") Сортировать по алфавиту
      .winners-wrap.row
        = render partial: 'common/winners', locals: { winners: @former_winners }
      %button.winners-more.js-load-more(data-offset="#{@former_winners.count}" ) Загрузить еще