- content_for :header do

  .breadcrumbs
    Отмененные фото

.table-container


  %table.table
    %thead
      %tr
        %th(style="width: 30px")
        %th
          Название
        %th(style="width: 100px; text-align: center") Пользователь
        %th(style="width: 100px; text-align: center") Регион

    - @photos.each do |photo|
      %tr.cancelled
        %td
          .image-tiny
            = link_to photo.image_url(:main), :class => 'fancybox' do
              = image_tag photo.image_url(:tiny)
        %td
          = link_to admin_photo_path(photo.id) do
            = photo.title
        %td(style="text-align:left")
          = link_to (photo.user.first_name + '&nbsp;' + photo.user.last_name).html_safe, admin_user_path(photo.user.id)
        %td(style="text-align:left")
          = link_to photo.region.title, admin_region_path(photo.region.id)

  .pages-container
    = paginate @photos
