- content_for :header do

  .breadcrumbs
    Фотографии

.table-container


  %table.table
    %thead
      %tr
        %th(style="width: 30px")
        %th
          Название
        %th(style="width: 100px; text-align: center") Пользователь
        %th(style="width: 100px; text-align: left") Регион
        %th(style="width: 200px; text-align: right") Дата создания

    - @photos.each do |photo|
      - if photo.is_approved
        %tr
          %td
            .image-tiny
              = link_to photo.image_url(:main), :class => 'fancybox' do
                = image_tag photo.image_url(:tiny)
          %td
            = link_to admin_photo_path(photo.id, page: params[:page]) do
              = photo.title
          %td(style="text-align:left")
            = link_to (photo.user.first_name + '&nbsp;' + photo.user.last_name).html_safe, admin_user_path(photo.user.id)
          %td(style="text-align:left")
            = link_to photo.region.title, admin_region_path(photo.region.id)
          %td(style="text-align:right")
            = link_to photo.created_at.strftime("%Y-%m-%d")

      - else
        %tr.unapproved
          %td
            .image-tiny
              = image_tag photo.image_url(:tiny)
          %td
            = link_to admin_photo_path(photo.id, page: params[:page]) do
              = photo.title
          %td(style="text-align:left")
            = link_to (photo.user.first_name + '&nbsp;' + photo.user.last_name).html_safe, admin_user_path(photo.user.id)
          %td(style="text-align:right")
            = link_to photo.region.title, admin_region_path(photo.region.id)

  .pages-container
    = paginate @photos
