- content_for :header do

  .pull-right
    = link_to admin_photos_path(page: params[:page]), :class => 'button button-hollow button-round button-small preview-website' do
      Вернуться к списку

  .breadcrumbs
    = @photo.title

.table-container

  %table.table.user-table
    %tr
      %th(style="text-align:right; width: 200px") Заголовок
      %td= @photo.title
    %tr
      %th(style="text-align:right; width: 200px") Автор
      %td= "#{@photo.user.name} | #{@photo.user.email}"

    %tr
      %th(style="text-align:right; width: 200px") Регион
      %td= @photo.region.title
    %tr
      %th(style="text-align:right; width: 200px") Положение
      %td
        = @photo.lat.to_s + ';' + @photo.lng.to_s
    %tr
      %th(style="text-align:right; width: 200px") Голосов
      %td
        = @photo.votes_for.size

.container
  .tile-help
    %p
      - if @photo.is_approved
        = link_to "Снять с публикации", unpublish_admin_photo_path(@photo.id), :method => :post, :class => 'button button-primary'
      - else
        = link_to "Опубликовать", publish_admin_photo_path(@photo.id), :method => :post, :class => 'button button-primary'


.table-container

  .image-mapper
    .image
      = image_tag @photo.image_url(:main)
    .mapper
      .mapbox#mapbox(style="height: 360px")
      = image_tag @photo.tile_url, :class => 'tile'


:javascript
  ymaps.ready(init);

  function init () {
    var myMap = new ymaps.Map("mapbox", {
      center: [#{@photo.lat}, #{@photo.lng}],
      zoom: #{@photo.zoom},
      controls: ['smallMapDefaultSet']
    });

    var myPlacemark = new ymaps.Placemark([#{@photo.lat}, #{@photo.lng}], {}, {
      iconLayout: "default#image",
      iconImageHref: "#{@photo.image_url(:marker)}",
      iconImageSize: [40, 45],
      iconImageOffset: [-20, -45]
    });

    myMap.geoObjects.add(myPlacemark);

  }
