- content_for :primary do

  %li.active
    %a{:href => "/admin"}
      %i.icon.icon-home
  %li
    %a{:href => "/admin/feedbacks"}
      %i.icon.icon-mail

- content_for :secondary do

  %li
    %a{:href => "/admin/users"}
      %i.icon.icon-users-outline
      Пользователи
      %small Все пользователи
  %li
    %a{:href => "/admin/winners"}
      %i.icon.icon-users-outline
      Победители
      %small Выбор победителя недели
  %li
    %a{:href => "/admin/prizes"}
      %i.icon.icon-image
      Призы
      %small Все призы
  %li
    %a{:href => "/admin/regions"}
      %i.icon.icon-pages
      Регионы
      %small Правки по регионам, картинкам-заглушкам и выбор картинки для карты
  %li
    %a{:href => "/admin/maps"}
      %i.icon.icon-pages
      Карты
      %small Сгенерированные карты
  %li
    %a{:href => "/admin/photos"}
      %i.icon.icon-image
      Фотографии
      %small Все фото, загруженные пользователями
  %li
    %a{:href => "/admin/photos/unpublished"}
      %i.icon.icon-image
      Неопубликованные фото
      %small Все фото, ожидающие модерации
  %li
    %a{:href => "/admin/photos/cancelled"}
      %i.icon.icon-image
      Отмененные фото
      %small Фото не прошедшие модерацию