= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title Регистрация | Карта счастья

#add-email.user-email-form
  .row.inpage-form
    .small-1.columns &nbsp;
    .small-4.columns
      %h1 <br><br>Завершение регистрации
      %p(style="font-size: 12px;") Укажите своей E-mail адрес для завершения регистрации
      = form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f|
        - if @user.errors.any?
          #error_explanation
            - @user.errors.full_messages.each do |msg|
              = msg
              %br/
        .line
          = f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Например: vasiliy@mail.ru'
        .actions
          = f.submit 'Отправить', :id => 'sign-up-submit'
    .row

:javascript
  $('body').on('click', '#sign-up-submit', function() {
    console.log('Registration finalized');
    ga('send', 'event', 'Registration', 'SecondStep', 'Sokolov', 1000);
  });