= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title Регистрация | Карта счастья

#add-email
  .row.inpage-form
    .small-1.columns &nbsp;
    .small-4.columns
      %h1 <br><br>Регистрация
      - if @message.present?
        %p(style="font-size: 12px;")= @message
      - else
        %p(style="font-size: 12px;") Все поля обязательны для заполнения
      = form_for(@user, :as => :user, :url => create_user_path(@user), :html => { role: 'form'}, :data => {:abide => ''}) do |f|
        .row
          .small-3.columns.input-holder
            %input#last_name.last-name.e{:name => "user[last_name]", :placeholder => "Фамилия", :required => "", :type => "text"}
              %small.error Это обязательное поле
          .small-3.columns.input-holder
            %input#first_name.first-name.e{:name => "user[first_name]", :placeholder => "Имя", :required => "", :type => "text"}
              %small.error Это обязательное поле
        .row
          #email_holder.small-3.columns.input-holder
            %input#register_email.email.e{:name => "user[email]", :placeholder => "E-mail", :required => "", :type => "email"}
              %small.error Неправильный email или он уже зарегистрирован
          .small-3.columns.input-holder
            %span.rounded-help.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Введите ваш e-mail адрес"} ?
        .row
          .small-3.columns.input-holder
            %input#user_password.password.e{:name => "user[password]", :placeholder => "Пароль", :required => "", :type => "password"}
              %small.error Минимальная длина &mdash; 8 символов
          .small-3.columns.input-holder
            %input.password-confirm.e{"data-equalto" => "user_password", :name => "user[password_confirmation]", :placeholder => "Еще раз", :required => "", :type => "password"}
              %small.error Пароли должны совпадать
        .actions
          = f.submit 'Отправить'
    .row
