- content_for :header do

  .breadcrumbs Обратная связь

  - if @feedbacks.present?
    .table-container
      %table.table
        %thead
          %tr
            %th
              Имя
            %th
              Дата
            %th(style="width: 250px;") Операции

        - @feedbacks.each do |feed|
          %tr
            %td
              %strong(style="font-size: 16px;")= feed.first_name + ' ' + feed.last_name
              = mail_to feed.email
              %br
              = feed.message
            %td(style="vertical-align:top")
              = feed.created_at.strftime("%Y-%m-%d %H:%M")
            %td(style="vertical-align:top")
              = link_to "Удалить?", admin_feedback_path(feed.id), :method => :delete, :data => { :confirm => "Вы уверены?" }

      .pages-container
        = paginate @feedbacks

  - else
    .container
      %p Запросов пока не отправлено
