- content_for :header do

  .pull-right
    = link_to admin_region_path(params[:region_id]), :class => 'button button-hollow button-round button-small preview-website' do
      Вернуться к региону

  .breadcrumbs
    = @region.title
    | Новая заглушка

  = form_for [:admin, @region, @generic] do |f|
    = f.hidden_field :region_id, :value => @region.id
    .table-container
      %table.table.table-form
        %tr
          %td
            Картинка
          %td
            = f.file_field :image

    %button.button.button-primary{:type => "submit"}
      %i.icon.icon-check
      Создать
