- content_for :header do

  .breadcrumbs Победители
  %p
    = link_to new_admin_winner_path, :class => 'button button-hollow button-round button-small preview-website' do
      Определить победителя

.table-container

  - if @winners.present?

    %table.table
      %thead
        %tr
          %th
            Email
          %th
            Имя
          %th
            Приз
          %th
            Период
          %th
            Фото

      - @winners.each do |winner|
        %tr
          %td
            %p= winner.user.email
          %td
            %p= winner.user.name
          %td
            %p= winner.prize.title
          %td
            %p= "#{winner.week.starts.strftime("%Y.%m.%d")} - #{winner.week.ends.strftime("%Y.%m.%d")}"
          %td
            %p= image_tag winner.photo.image.tiny


    .pages-container
      = paginate @winners

  - else

    %p(style="margin-left: 40px") Победители еще не выбраны

