- content_for :header do

  .breadcrumbs Выбрать победителя

- if @photo.present?
  %p
    = image_tag @photo.image.thumb
  %p
    %span= @photo.user.name
    |
    %span= @photo.user.email
  = form_for [:admin, @winner] do |f|
    = f.hidden_field :photo_id, value: @photo.id
    = f.hidden_field :user_id, value: @photo.user.id
    %p
      Приз
      = f.select :prize_id, @prizes
    %p
      = link_to new_admin_winner_path, :class => 'button button-hollow button-small preview-website' do
        Выбрать другое фото
      %button.button.button-primary.button-small{:type => "submit"}
        %i.icon.icon-check
        Победитель!

- else
  %p Не найдено ни одной фотографии на этой неделе
