.about {
  border-top: 1px solid #e8e7e2;
  margin: 26px 0 0 0;
  padding-top: 62px;

  @media #{$l1} {
    margin: 23px 0 0 0;
    padding-top: 56px;
  }

  @media #{$l2} {
    margin: 18px 0 0 0;
    padding-top: 44px;
  }

  @media #{$l3} {
    margin: 14px 0 0 0;
    padding-top: 30px;
  }

  @media #{$l4} {
    padding-top: 4px;
    margin: 0;
    border: none;
  }


  h1 {
    font: bold 42px 'Roboto';
    margin: 0;
    padding: 0 0 42px 0;
    text-transform: uppercase;

    @media #{$l1} {
      font: bold 34px 'Roboto';
      margin: 0;
      padding: 0 0 38px 0;
    }

    @media #{$l2} {
      font: bold 30px 'Roboto';
      margin: 0;
      padding: 0 0 32px 0;
    }

    @media #{$l3} {
      font: bold 26px 'Roboto';
      margin: 0;
      padding: 0 0 26px 0;
    }

    @media #{$l4} {
      font-size: 22px;
    }
  }

  p.subheader {
    font: bold 20px 'Roboto';
    text-align: center;
    color: #000;
    padding: 0 170px;
    -webkit-font-smoothing: antialiased;

    @media #{$l1} {
      font: bold 18px 'Roboto';
    }

    @media #{$l2} {
      font: bold 16px 'Roboto';
    }

    @media #{$l3} {
      font: bold 14px 'Roboto';
    }

    @media #{$l4} {
      font-size: 16px;
      line-height: 22px;
      margin-top: 1px;
      margin-bottom: 23px;
      padding: 0 30px;
    }

    @media #{$l5} {
      padding: 0;
    }

  }

  p {
    font: 20px 'Roboto';
    text-align: center;
    color: #000;
    padding: 14px 170px 0;
    -webkit-font-smoothing: antialiased;

    @media #{$l1} {
      font: 18px 'Roboto';
    }

    @media #{$l2} {
      font: 16px 'Roboto';
    }

    @media #{$l3} {
      font: 14px 'Roboto';
    }

    @media #{$l4} {
      line-height: 21px;
      padding: 0 30px;
    }

    @media #{$l5} {
      line-height: 22px;
      padding: 0 5px;
    }
  }

  .image-block {
    margin: 26px 0 0 0;
    position: relative;
    padding: 43px 0 0 0;

    @media #{$l1} {
      padding: 30px 0 0 0;
    }

    @media #{$l2} {
      padding: 26px 0 0 0;
    }

    @media #{$l3} {
      margin: 20px 0 0 0;
      padding: 23px 0 0 0;
    }

    @media #{$l5} {
      margin: 20px 0 0 0;
      padding: 0 0 0 0;
    }

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      border-top: 1px solid #eee;
      width: 120px;
      content: " ";
      margin-left: -60px;

      @media #{$l5} {
        display: none;
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.about-winners {
  margin: 44px 0 0 0;
  border-top: 2px solid #f4f3ed;
  padding-top: 62px;

  @media #{$l1} {
    margin: 42px 0 0 0;
    padding-top: 56px;
  }

  @media #{$l2} {
    margin: 40px 0 0 0;
    padding-top: 50px;
  }

  @media #{$l3} {
    margin: 37px 0 0 0;
    padding-top: 44px;
  }

  @media #{$l4} {
    padding-top: 62px;
  }
  
  @media #{$l5} {
    padding-top: 43px;
  }

  h2 {
    font: bold 30px 'Roboto';
    padding: 0;
    margin: 0;
    text-align: center;

    @media #{$l1} {
      font: bold 28px 'Roboto';
    }

    @media #{$l2} {
      font: bold 26px 'Roboto';
    }

    @media #{$l3} {
      font: bold 23px 'Roboto';
    }

    @media #{$l4} {
      font-size: 18px;
    }
  }

  p {
    font: 18px 'Roboto';
    margin: 0;
    padding: 10px 62px 0;
    text-align: center;

    @media #{$l1} {
      font: 16px 'Roboto';
      padding: 10px 54px 0;
    }

    @media #{$l2} {
      font: 14px 'Roboto';
      padding: 10px 48px 0;
    }

    @media #{$l3} {
      font: 12px 'Roboto';
      padding: 10px 38px 0;
    }

    @media #{$l4} {
      font-size: 14px;
      line-height: 21px;
      padding-top: 4px;
    }

    @media #{$l5} {
      padding: 4px 9px 0;
    }


  }

  .image-block {
    margin: 60px 0 0 0;
    position: relative;

    @media #{$l4} {
      margin: 48px 0 0 0;
    }


    img {
      max-width: 100%;
    }

    .container {
      position: absolute;
      z-index: 2;
      left: 20%;
      top: 23%;
      width: 30%;

      @media #{$l4} {
        left: 5%;
        top: 0;
        width: 50%;
        bottom: 0;
        height: 115px;
        margin: auto 0;
      }

      @media #{$l5} {
        position: static;
        width: auto;
        padding: 10px;
      }


    }

    h3 {
      font: 700 50px 'Roboto';
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: #111;
      -webkit-font-smoothing: antialiased;

      @media #{$l1} {
        font: 700 38px 'Roboto';
      }

      @media #{$l2} {
        font: 700 32px 'Roboto';
      }

      @media #{$l3} {
        font: 700 26px 'Roboto';
      }
    }

    p {
      font: 18px 'Roboto';
      margin: 32px 0 0 0;
      padding: 0;
      line-height: 30px;
      text-align: left;

      @media #{$l1} {
        font: 16px 'Roboto';
        margin: 28px 0 0 0;
        padding: 0;
        line-height: 27px;
      }

      @media #{$l2} {
        font: 14px 'Roboto';
        margin: 22px 0 0 0;
        padding: 0;
        line-height: 21px;
      }

      @media #{$l3} {
        font: 12px 'Roboto';
        margin: 19px 0 0 0;
        padding: 0;
        line-height: 18px;
      }
    }
  }
}

.about-dates {
  padding: 44px 0;

  @media #{$l4} {
    padding: 52px 0 39px;
  }

  @media #{$l5} {
    padding: 99px 0 25px;
  }

  h2 {
    font: bold 30px 'Roboto';
    padding: 0;
    margin: 0;
    text-align: center;

    @media #{$l1} {
      font: bold 28px 'Roboto';
    }

    @media #{$l2} {
      font: bold 26px 'Roboto';
    }

    @media #{$l4} {
      font-size: 22px;
    }
  }

  p {
    font: 18px 'Roboto';
    margin: 0;
    padding: 10px 62px 0;
    text-align: center;

    @media #{$l1} {
      font: 16px 'Roboto';
      padding: 10px 54px 0;
    }

    @media #{$l2} {
      font: 14px 'Roboto';
      padding: 10px 46px 0;
    }

    @media #{$l4} {
      font-size: 16px;
    }

    @media #{$l5} {
      padding: 10px 2px 0;
      line-height: 29px;
    }
  }
}

.about-disclaimer {
  margin: 2px 0 0 0;
  padding: 40px 30px 10px;
  background: image-url("about-line.png") repeat-x;

  @media #{$l5} {
    padding: 40px 0 10px;
  }

  p {
    font: 16px 'Roboto';
    margin: 0;
    color: #7f7f7f;
    padding: 6px 30px 0;
    text-align: center;

    @media #{$l1} {
      font: 15px 'Roboto';
    }

    @media #{$l2} {
      font: 14px 'Roboto';
    }

    @media #{$l4} {
      line-height: 22px;
      padding: 3px 4px 0;
      font-size: 14px;
    }

  }
}
