.rounded-button {
  display: block;
  height: 37px;
  text-decoration: none;
  border-radius: 16px;
  position: relative;
  padding-left: 38px;
  padding-right: 12px;

  &.inline {
    display: inline-block;
  }

  &.mb-10 {
    margin-bottom: 10px;
  }

  &.button-style-1 {
    background: #3ab049;
    color: #fff!important;
    padding-left: 48px;
    border: 2px solid #3ab049;
    padding-right: 22px;

    i {
      text-transform: uppercase;
    }

    &:hover {
      background: #fff;
      color: #3ab049;

      span, i {
        color: #3ab049
      }
    }
  }

  &.grey {
    background: #ebebeb;
    color: #111;
  }

  &.no-icon {
    padding-left: 38px;
    padding-right: 38px;
    color: #111;
    display: inline-block;
    border: 1px solid #111;

    &:hover {
      background: #b2dbfe;
      border: 1px solid #b2dbfe;
      color: #fff;
    }

  }

  span {
    position: absolute;
    top: 4px;
    left: 5px;
    font-size: 26px;
  }

  i {
    font: normal 12px/37px 'Roboto';
  }
}

.rounded-help {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 8px;
  text-align: center;
  font: bold 11px/18px 'Roboto';
  color: #fff;
  float: left;
  margin-top: 5px;
  background: #95ccf4;
  cursor: pointer;
}

.submit-button {
  border: 1px solid #e7e7e7;
  height: 36px;
  border-radius: 18px;
  font: 12px/36px 'Roboto';
  text-transform: uppercase;
  outline: 0;
  padding: 0 20px;
  background: #fff;
  color: #ddd;

  &.centered {
    margin: 0 auto;
    display: inline-block;
  }

  &:hover {
    background: #3ab049;
    color: #fff;
    border: 1px solid #3ab049;
  }
}

button.rounded-submit {
  background: #3ab049;
  color: #fff;
  outline: 0;
  border: 0;
  height: 28px;
  font: 12px/28px 'Roboto';
  text-transform: uppercase;
  border-radius: 14px;
  width: 120px;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}
