.user-email-form {
	width: 100%;
	
	.inpage-form {
		@media #{$l4} {
			width: 100%;

			h1 {
				text-align: left;
			}

			.small-1 {
				display: none;
			}

			.small-4 {
				width: 90%;
				float: none;
				margin: 0 auto;
			}

			.form-control {
				max-width: 590px;
			}
		}

		@media #{$l6} {
			.small-4 {
				padding: 0;
			}
		}
	}
}

#error_explanation.error {
  margin: 2px 0 0 0;
  font: 11px/14px 'Roboto';
  color: #d12727;
}