@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?61z5a0');
	src:font-url('icomoon.eot?#iefix61z5a0') format('embedded-opentype'),
		font-url('icomoon.ttf?61z5a0') format('truetype'),
		font-url('icomoon.woff?61z5a0') format('woff'),
		font-url('icomoon.svg?61z5a0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-like-hover:before {
	content: "\e60d";
}
.icon-login:before {
	content: "\e60e";
}
.icon-logout:before {
	content: "\e605";
}
.icon-vk-round:before {
	content: "\e607";
}
.icon-odnoklassniki-round:before {
	content: "\e608";
}
.icon-like:before {
	content: "\e609";
}
.icon-facebook-round:before {
	content: "\e60a";
}
.icon-arrow:before {
	content: "\e60b";
}
.icon-add:before {
	content: "\e60c";
}
.icon-youtube:before {
	content: "\e600";
}
.icon-vk:before {
	content: "\e601";
}
.icon-odnoklassniki:before {
	content: "\e602";
}
.icon-instagram:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-register:before {
	content: "\e606";
}
