.visual {
  margin: 30px 0 0 0;
  position: relative;
  overflow: hidden;

  @media #{$l1} {
    margin: 25px 0 0 0;
  }

  @media #{$l2} {
    margin: 22px 0 0 0;
  }

  @media #{$l3} {
    margin: 10px 0 0 0;
  }

  @media #{$l4} {
    margin: 7px 0 0 0;
    height: 390px;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;

    background: image-url("index-visual-640.jpg") center center no-repeat;
    background-size: cover;

    .columns {
      height: 390px;
    }
  }
  
  @media #{$l5} {
    background-position: 100% 0;
    border-left-width: 10px;
    border-right-width: 10px;

    background-image: image-url("i-visual-640.jpg");
  }

  @media #{$l6} {
    background-image: image-url("i-visual-480.jpg");
  }

  .back-image {
    max-width: 100%;
    z-index: 1;
    top: 0;
    left: 0;

    @media #{$l4} {
      position: absolute;
      height: 390px;
      left: -915px;
      right: -1000px;
      margin: auto;
      max-width: none;
      opacity: 0;
    }
  }

  .contents {
    position: absolute;
    top: 19.2%;
    left: 50%;
    z-index: 2;
    width: 28%;

    @media #{$l4} {
      top: 14.2%;
      left: 51%;
      width: 44%;
    }

    @media #{$l5} {
      top: 0;
      left: 0;
      width: 100%;
      padding: 56px 10px 0;
    }

  }

  .subheader {
    font: 100 16px 'Roboto';
    color: #231f20;
    text-transform: uppercase;

    @media #{$l1} {
      font: 100 15px 'Roboto';
    }

    @media #{$l2} {
      font: 100 14px 'Roboto';
    }

    @media #{$l3} {
      font: 100 12px 'Roboto';
    }
  }

  h1 {
    margin: 19px 0 0 0;
    padding: 0;
    font: 700 50px 'Roboto';
    color: #231f20;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    @media #{$l1} {
      margin: 17px 0 0 0;
      font: 700 40px 'Roboto';
    }

    @media #{$l2} {
      margin: 15px 0 0 0;
      font: 700 32px 'Roboto';
    }

    @media #{$l3} {
      margin: 12px 0 0 0;
      font: 700 26px 'Roboto';
    }

    @media #{$l4} {
      font-size: 22px;
      line-height: 32px;
      text-align: left;
      margin: 18px 0px 0px 0px;
    }

  }

  p {
    margin: 14px 0 0 0;
    font: 18px 'Roboto';
    color: #231f20;
    text-shadow: 0 0 6px #fff;

    @media #{$l1} {
      font: 16px 'Roboto';
    }

    @media #{$l2} {
      font: 14px 'Roboto';
    }

    @media #{$l3} {
      font: 12px 'Roboto';
    }

    @media #{$l4} {
      margin: 7px 0 0 0;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .actions {
    margin: 19px 0 0 0;
    
    @media #{$l4} {
      margin: 7px 0 0 0;
    }

    a {
      color: #000;
      font: 12px/18px 'Roboto';
    }
  }

  &._404 {
    background: #f4f3ed;

    h1 {
      font-size: 44px;
      margin: 0 0 15px;

      @media #{$m4} {
        font-size: 58px;
        margin: 0 0 10px;
      }
    }

    .subheader {
      margin-bottom: 14px;
    }

    .actions {
      margin: 7px 0 20px 0;
    }

    p {
      margin: 17px 0 0 0;
    }

    ul {
      font-size: 12px;
      list-style: none;
      margin-left: 0;

      @media #{$m4} {
        font-size: 18px;
      }
    }

    .contents {
      @media #{$m1} {
        top: 24.2%;
        left: 15%;
        width: 56%;
      }

      @media #{$m2} {
        top: 20.2%;
        left: 10.3%;
      }

      @media #{$m4} {
        top: 18.2%;
        left: 15.3%;
      }
    }
  }
}

.how-to {
  margin: 53px 0 0 0;
  position: relative;

  @media #{$l1} {
    margin: 45px 0 0 0;
  }

  @media #{$l2} {
    margin: 40px 0 0 0;
  }

  @media #{$l3} {
    margin: 32px 0 0 0;
  }

  @media #{$l4} {
    margin: 50px 0 0 0;

    .about + & {
      margin: 62px 0 0 0;
    }
  }

  @media #{$l5} {
    .about + & {
      margin: 33px 0 0 0;
    }
  }

  .header {
    @media #{$l4} {
      text-align: center;
    }
  }

  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font: 700 27px 'Roboto';
    color: #231f20;

    @media #{$l1} {
      font: 700 27px 'Roboto';
    }

    @media #{$l2} {
      font: 700 25px 'Roboto';
    }

    @media #{$l3} {
      font: 700 20px 'Roboto';
    }

    @media #{$l4} {
      font-size: 26px;
      margin-bottom: 31px;
    }
  }

  .list {
    margin-top: 57px;

    @media #{$l4} {
      margin-top: 14px;
      padding: 0 35px;

      .small-1 {
        width: 100%;
        padding-top: 15px;
        float: none;
        display: block;
        clear: both;
        text-align: left;

        &:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }

        img {
          height: 134px;
          float: left;
        }

        &:first-child,
        &:last-child {
          display: none;
        }
      }
    }

    @media #{$l5} {
      padding: 0 15px;

      .small-1 {
        padding-bottom: 12px;

        img {
          float: none;
          display: block;
          margin: 0 auto;
        }
      }

    }

  }

  .image {
    padding-top: 235px;
  }

  h4 {
    padding: 0;
    margin: 40px auto 0 auto;
    text-align: center;
    font: normal 18px 'Roboto';
    text-transform: uppercase;

    @media #{$l1} {
      font: normal 17px 'Roboto';
    }

    @media #{$l2} {
      font: normal 15px 'Roboto';
    }

    @media #{$l3} {
      font: normal 15px 'Roboto';
    }

    @media #{$l4} {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      margin: 27px 0 0 220px;
    }

    @media #{$l5} {
      margin: 12px 0 0 0;
    }

  }

  p {
    padding: 0;
    margin: 14px auto 0 auto;
    text-align: center;
    font: normal 14px 'Roboto';

    @media #{$l1} {
      font: normal 14px 'Roboto';
    }

    @media #{$l2} {
      font: normal 14px 'Roboto';
    }

    @media #{$l3} {
      font: normal 12px 'Roboto';
    }

    @media #{$l4} {
      text-align: left;
      margin: 9px 0 0 220px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    @media #{$l5} {
      margin: 10px 0 0 0;
      line-height: 20px;
    }


    a {
      color: #000;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px dashed #000
    }
  }

  .step-1 {
    .image {
      background: image-url("how-to.png") no-repeat
    }
  }

  .step-2 {
    .image {
      background: image-url("how-to.png") no-repeat -221px 0
    }
  }

  .step-3 {
    .image {
      background: image-url("how-to.png") no-repeat -439px 0
    }
  }

  .step-4 {
    .image {
      background: image-url("how-to.png") no-repeat -668px 0
    }
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;

    @media #{$l4} {
      display: inline-block;
      position: relative;
    }

    a {
      color: #000;
      font: 12px/18px 'Roboto';
    }
  }
}

.index-map {
  clear: both;
  margin: 83px 0 0 0;
  position: relative;
  padding: 0 0 40px 0;
  min-height: 500px;
  background: image-url("map-back.png") repeat-x 0 -50px;

  @media #{$l1} {
    margin: 76px 0 0 0;
  }

  @media #{$l2} {
    margin: 70px 0 0 0;
  }

  @media #{$l3} {
    margin: 40px 0 0 0;
  }

  @media #{$l5} {
    margin: 0;
    min-height: 460px;
  }

  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font: 700 50px 'Roboto';
    color: #231f20;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;

    @media #{$l1} {
      font: 700 38px 'Roboto';
      top: 32px;
    }

    @media #{$l2} {
      font: 700 28px 'Roboto';
      top: 38px;
    }

    @media #{$l3} {
      font: 700 26px 'Roboto';
      top: 32px;
    }

    @media #{$l4} {
      font-size: 32px;
      top: 36px;
    }

  }

  p {
    text-align: center;
    padding: 0;
    width: 400px;
    font: 500 22px 'Roboto';
    color: #231f20;
    position: absolute;
    top: 115px;
    left: 50%;
    margin-left: -200px;
    right: 0;
    text-shadow: 0 0 4px #fff;

    @media #{$l1} {
      font: 500 19px 'Roboto';
      top: 75px;
    }

    @media #{$l2} {
      font: 500 17px 'Roboto';
      top: 70px;
    }

    @media #{$l3} {
      font: 500 16px 'Roboto';
      top: 66px;
    }

    @media #{$l4} {
      top: 96px;
      font-size: 18px;
      line-height: 24px;
      padding: 0 60px;

      width: 100%;
      padding: 0 10px;
      left: 0;
      margin: 0;
    }

    @media #{$l5} {
      br {
        display: none;
      }
    }

  }

  .maplink {
    margin-top: 70px;
    left: 0;
    right: 0;

    @media #{$l1} {
      margin-top: 58px;
    }

    @media #{$l2} {
      margin-top: 48px;
    }

    @media #{$l3} {
      margin-top: 32px;
    }
  }

  .map-area {
    padding-top: 40px;

    @media #{$l4} {
      padding-top: 160px;
    }

    @media #{$l5} {
      padding-top: 218px;
    }
  }

  img {
    max-width: 100%;
  }

  area {
    outline: 0!important;
    border: 0!important;
  }

  .actions {
    position: absolute;
    top: 72px;
    right: 0;
  
    @media #{$l4} {
      top: 169px;
      right: 50%;
      width: 190px;
      margin-right: -95px;
    }

    a {
      color: #000;
      font: 12px/18px 'Roboto';
      z-index: 20
    }
  }

  .actions-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;

    @media #{$l4} {
      top: 488px;
    }

    @media #{$l5} {
      top: 387px;
    }

    a {
      color: #000;
      width: 190px;
      margin-left: -95px;
      font: 12px/18px 'Roboto';
    }
  }
}

.carousel {
  margin: 68px 0 0 0;
  min-height: 372px;
  overflow: hidden;

  @media #{$l4} {
    padding: 0 16px;
  }

  @media #{$l5} {
    margin: 6px 0 0 0;
    padding: 0 10px;
  }

  .slides {
    min-height: 372px;
  }

  .slick-prev {
    width: 30px;
    height: 49px;
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;
    z-index: 100;
    margin-top: -24px;
    background: image-url("slider-nav.png") no-repeat;

    &:before {
      display: none;
    }
  }

  .slick-next {
    width: 30px;
    height: 49px;
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    margin-top: -24px;
    background: image-url("slider-nav.png") no-repeat 100% 0;

    &:before {
      display: none;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 0px;
    left: 0;
  }

  .slide {
    position: relative;
    min-height: 372px;

    @media #{$l4} {
       overflow: hidden;
    }


    img {
      max-width: 100%;
  
       @media #{$l4} {
          position: absolute;
          right: -5%;
          height: 372px;
          width: auto;
          max-width: none;
       }

       @media #{$l5} {
          right: auto;
          left: 0;
       }
    }

    .container {
      position: absolute;
      z-index: 2;
    }

    h4 {
      font: 700 50px 'Roboto';
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: #111;
      -webkit-font-smoothing: antialiased;

      @media #{$l1} {
        font: 700 40px 'Roboto';
      }

      @media #{$l2} {
        font: 700 30px 'Roboto';
      }

      @media #{$l3} {
        font: 700 25px 'Roboto';
      }
    }

    p {
      font: 18px 'Roboto';
      margin: 32px 0 0 0;
      padding: 0;
      line-height: 30px;

      @media #{$l1} {
        font: 16px 'Roboto';
        margin: 27px 0 0 0;
      }

      @media #{$l2} {
        font: 14px 'Roboto';
        margin: 25px 0 0 0;
      }

      @media #{$l3} {
        font: 12px 'Roboto';
        margin: 20px 0 0 0;
      }
    }
  }

  .slide-1 {
    .container {
      left: 20%;
      top: 23%;
      width: 30%;

      @media #{$l4} {
        left: 6%;
        top: 19%;
        width: 38%;

        p {
          font-size: 12px;
          line-height: 18px;
        }
      }

      @media #{$l5} {
        left: 3%;
        top: 19%;
        width: auto;

        p {
          margin: 27px 0 0 0;
        }
      }
    }

    .actions {
      margin: 20px 0 0 0;
    }
  }
}
