.layout {
  max-width: 1736px;
  min-width: 320px;
  margin: 0 auto;


  @media #{$l4} {
    padding-top: 120px;

    &:before {
      content: '';
      position: absolute;
      -webkit-transition: all 300ms;
      transition: all 300ms;
    }

    &.menu-opened {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 201;
      }
    }
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.row.centered {
  text-align: center;
}

.menu {
  &-sandwich {
    display: none;
  }
  @media #{$l4} {
    position: absolute;
    z-index: 202;
    height: 120px;
    min-width: 320px;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    -webkit-transition: height 500ms;
    transition: height 500ms;

    &-sandwich,
    &-sandwich:focus,
    &-sandwich:hover {
      position: absolute;
      display: block;
      top: 49px;
      right: 38px;
      width: 20px;
      height: 8px;
      background: none;
      padding: 0;
      outline: none;
      -webkit-transition: none;
      transition: none;
      background: #000000;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      -webkit-transition-delay: 300ms;
      transition-delay: 300ms;

      .menu-opened & {
        height: 16px;
        width: 24px;
        top: 48px;
        background: none;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #000000;
        -webkit-transition: transform 300ms;
        transition: transform 300ms;

        .menu-opened & {
          height: 2px;
          border: none;
        }
      }

      &:before {
        top: -5px;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;

        .menu-opened & {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
            right: 0px;
            left: auto;
            width: 24px;
        }
      }

      &:after {
        bottom: -5px;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;

        .menu-opened & {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
            background-color: #000000;
            right: 1px;
            left: auto;
            width: 24px;
            top: 12px;
        }
      }
    }

    .menu-opened & {
      height: 858px;
    }
  }

  &-sandwich,
  &-sandwich:focus,
  &-sandwich:hover {
    @media #{$l5} {
      top: 51px; 
      right: 15px;
    }
  }
}

header.main {
  height: 144px;
  position: relative;
  font-family: 'Roboto';

  @media #{$l4} {
    position: static;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 42px;
    width: 195px;
    height: 60px;
    margin: 0 0 0 -97px;
    background: image-url("logo.png") no-repeat;

    @media #{$l5} {
      top: 48px;
      width: 150px;
      height: 46px;
      margin: 0 0 0 -70px;
      background-size: cover;
    }
  }

  .user-name,
  .login {
    font-family: 'Roboto';
    color: #231f20;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
  }

  .user-name {
    margin-right: 21px;
    position: relative;
    top: -2px;
  }

  .login {
    position: relative;

    .icon-login,
    .icon-logout {
      font-size: 20px;
    }

    span {
      display: inline-block;
      margin-left: 12px;
      position: relative;
      top: -2px;
    }

    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 53px;
      left: 21px;
      height: 0px;
      border-top: 1px solid #36373a;

      @media #{$l4} {
        display: none;
      }
    }
  }
}

nav.user-controls {
  float: right;
  margin: 62px 48px 0px 0px;

  ul {
    list-style: none;
  }

  @media #{$l4} {
    position: absolute;
    float: none;
    margin: auto;
    bottom: 0;
    left: 37px;
    right: 37px;
    text-align: center;
    top: 677px;
    border-top: 1px solid #d7d7d7;
    padding-top: 45px;
  }

  @media #{$l5} {
    top: 739px;
    padding-top: 39px;

    .login {
      .icon-login, .icon-logout {
        font-size: 31px;
      }

      span {
        top: -7px;
      }
    }
  }
}

nav.main {
  height: 38px;

  @media #{$l4} {
    height: 700px;
    padding-top: 17px;

    .small-1 {
      float: none;
      text-align: center;
      width: 100%;
    }

    .small-2.header-right {
      width: 100%;
      padding-top: 89px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 31px;
        left: 0;
        right: 0;
        margin: auto;
        border-top: 1px solid #3a3a3c;
        width: 74px;
      }

      ul {
        display: block;
        float: none;
        width: 100%;
        text-align: center;

        li {
          display: inline-block;
          float: none;
          width: auto;
          margin: 0;

          a {
            height: 52px;
            width: 65px;
            overflow: hidden;
            font-size: 32px;
            margin: 0;

            &.js-feedback {
              font-family: 'Roboto';
              color: #231f20;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              text-decoration: underline;
              width: auto;
              display: inline-block;
              padding-bottom: 4px;
              height: auto;
            }
          }
        }
      }

      .feedback-link-wrap {
        display: block;
        width: 100%;
        padding-top: 35px;
        float: none;
        clear: both;
        text-align: center;
      }
    }

  }
  
  @media #{$l4} {
    .small-2.header-right {
      white-space: normal;

      ul li a {
        height: 60px;
        width: 93px;
      }
    }
  }

  .centered {
    text-align: center;

    a {
      display: inline-block
    }
  }

  a {
    display: block;
    margin: 0 auto;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 19px;
    font: 18px 'Roboto';
    color: #000;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    line-height: 38px;

    @media #{$l1} {
      height: 34px;
      border: 1px solid #fff;
      border-radius: 17px;
      font: 16px 'Roboto';
      color: #000;
      padding-left: 27px;
      padding-right: 27px;
      text-decoration: none;
      line-height: 34px;
    }

    @media #{$l2} {
      height: 30px;
      border: 1px solid #fff;
      border-radius: 15px;
      font: 12px 'Roboto';
      color: #000;
      padding-left: 18px;
      padding-right: 18px;
      text-decoration: none;
      line-height: 30px;
    }

    @media #{$l3} {
      height: 28px;
      border-radius: 14px;
      font: 12px 'Roboto';
      color: #000;
      padding-left: 12px;
      padding-right: 12px;
      text-decoration: none;
      line-height: 28px;
    }

    @media #{$l4} {
      font-family: 'Roboto';
      color:  #231f20;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      padding: 4px 22px 33px;
      border-radius: 22px;
      margin-bottom: 23px;
    }

    &:hover {
      border-color: #d7d7d7;
    }

    &.active {
      border-color: #000;
      color: #000;
    }

  }

  .header-right {
    font-size: 0;
    white-space: nowrap;

    ul {
      float: right;
      margin: 0;
      padding: 0;
      list-style: none;
    }


    li {
      margin: 0 0 0 20px;
      display: inline-block;
      vertical-align: top;

      @media #{$l1} {
        margin-left: 18px
      }

      @media #{$l2} {
        margin-left: 4px
      }

      @media #{$l3} {
        margin-left: 4px
      }

      &:first-child {
        margin: 0
      }


      &.social {
        width: 33px;
        margin: 2px 0 0 5px;

        @media #{$l1} {
          width: 31px;
          margin: 2px 0 0 4px;
        }

        @media #{$l2} {
          width: 27px;
          margin: 2px 0 0 0;
        }

        @media #{$l3} {
          width: 25px;
          margin: 2px 0 0 0;
        }

        a {
          display: block;
          height: 26px;
          border: 0;
          font-size: 16px;
          border-radius: 0;
          color: #a6aaaf;
          padding: 0 0 2px 0;
          text-decoration: none;

          &:hover {
            color: #000
          }

          @media #{$l1} {
            height: 24px;
            font-size: 16px;
          }

          @media #{$l2} {
            height: 22px;
            width: 20px;
            overflow: hidden;
            font-size: 16px;
            margin: 0;
          }

          @media #{$l3} {
            height: 22px;
            width: 20px;
            overflow: hidden;
            font-size: 15px;
            margin: 0;
          }
        }
      }
    }
  }
}

.relative {
  position: relative;
}

footer.main {
  margin: 60px 0 0 0;
  height: 175px;
  border: 1px solid #d7d7d7;
  position: relative;

  @media #{$l4} {
    width: auto;
    height: auto;
    margin-left: 16px;
    margin-right: 16px;
    padding: 19px 5px 21px;
  }

  @media #{$l5} {
    margin-left: 4px;
    margin-right: 13px;
    margin-top: 50px;
    padding: 19px 5px 21px;
  }


  ul {
    margin: 0;
    padding: 0;
    list-style: none
  }

  a {
    display: block;
    font: 18px 'Roboto';
    color: #000;
    padding: 0 20px;
    text-decoration: none;

    &.active {
      font-weight: bold
    }

    @media #{$l1} {
      font: 16px 'Roboto';
      padding: 0 17px;
    }

    @media #{$l2} {
      font: 13px 'Roboto';
      padding: 0 2px;
    }

    @media #{$l3} {
      font: 12px 'Roboto';
      padding: 0 2px;
    }
  }

  .columns {
    padding-top: 79px;
    text-align: center;


    @media #{$l4} {
      width: 100%;
      float: none;
      display: block;
      text-align: left;
      padding-top: 6px;
    }

    &.col {
      padding-top: 0;
    }
  }

  a {
    display: block;
    height: 26px;
    font: 18px 'Roboto';
    color: #000;
    padding: 0 20px;
    text-decoration: none;

    &.active {
      font-weight: bold
    }

    @media #{$l1} {
      font: 16px 'Roboto';
      padding: 0 17px;
    }

    @media #{$l2} {
      font: 14px 'Roboto';
      padding: 0 10px;
    }

    @media #{$l3} {
      font: 12px 'Roboto';
      padding: 0 10px;
    }

    @media #{$l4} {
      font-size: 14px;
      border-bottom: 1px solid #f6f5ef;
      height: auto;
      padding-bottom: 5px;
      display: inline-block;
      width: 100%;
      line-height: 30px;
    }
  }


  .social {
    margin: 22px 0 0 0;
    min-height: 175px - 54px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;

    @media #{$l4} {
      padding: 0px 6px;
      border: none;
        min-height: 55px;
    }

    h4 {
      padding: 28px 0 0 0;
      margin: 0;
      font: 16px 'Roboto';
      color: #000;

      @media #{$l1} {
        font: 13px 'Roboto';
      }

      @media #{$l2} {
        font: 11px 'Roboto';
      }

      @media #{$l3} {
        font: 11px 'Roboto';
      }

      @media #{$l4} {
        font-size: 14px;
        line-height: 14px;
        padding-top: 11px;
        display: inline-block;
        vertical-align: top;
      }

      @media #{$l5} {
        margin: 0px 0px 22px 0;
      }

    }

    ul {
      margin: 17px 0 0 37px;

      @media #{$l1} {
        margin: 17px 0 0 3px;
      }

      @media #{$l2} {
        margin: 14px 0 0 2px;
      }

      @media #{$l3} {
        margin: 14px 0 0 2px;
      }

      @media #{$l4} {
        display: inline-block;
        vertical-align: top;
        margin: 8px 0px 0 64px;
      }

      @media #{$l5} {
        margin: 14px 0px 22px 0px;
      }


      li {
        float: left;
        width: 33px;
        margin: 2px 0 0 0;

        @media #{$l2} {
          width: 26px;
        }

        @media #{$l3} {
          width: 24px;
        }

        @media #{$l4} {
          margin: 0 5px;
        }
      }



      a {
        display: block;
        height: 26px;
        border: 0;
        font-size: 16px;
        border-radius: 0;
        color: #a6aaaf;
        padding: 0;
        text-decoration: none;

        @media #{$l4} {
          font-size: 18px;
        }

        &:hover {
          color: #000
        }
      }
    }
  }

  a.js-feedback{
    text-decoration: underline;

    @media #{$l4} {
      padding-left: 6px;
    }
  }

  .feedback {
    position: absolute;
    top: 84px;
    right: 21px;

    a.js-feedback{
      text-decoration: underline;
    }

    a {
      display: block;
      height: 26px;
      font: 12px/26px 'Roboto';
      color: #000;
      padding: 0 20px;
      text-decoration: underline;
    }
  }

  .footer-feedback {
    padding-top: 44px;
    line-height: 60px;

    .rounded-button {
      height: 38px;
      white-space: nowrap;
      width: auto;
    }

    @media #{$l4} {
      padding-top: 0;
    }
  }
}

footer.copys {
  height: 97px;

  a {
    color: #000;
    font: 14px/97px 'Roboto';
  }

  .owner_link {
    text-align: center;

    a {
      font-size: 18px;
    }

  }
}
