.map {
  border-top: 2px solid #e8e7e2;
  margin: 27px 0 0 0;
  padding-top: 45px;

  @media #{$l4} {
    border: none;
    margin-top: 0;
    padding-top: 9px;

    &.map_index .main-content {
      min-height: 510px;

      .contents {
        display: none;
      }
    }
  }

  @media #{$l5} {
    &.map_index .main-content {
      min-height: 320px;
    }
  }

  h1 {
    font: bold 22px/27px 'Roboto';
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }

  p.no-photos {
    margin: 25px 0 0 0;
    font: 12px/18px 'Roboto';
  }

  .add-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 200;

    @media #{$l4} {
      top: -63px;
      left: auto;
      right: 7px;

      i {
        font-size: 14px;
        line-height: 32px;
      }
    }

    @media #{$l5} {
      top: -71px;
      left: 2px;
      right: auto;
    }
  }

  .main-content {
    margin: 33px 0 0 0;
    position: relative;
    height: 510px;
    padding-left: 50%;
    background: #f4f3ed;

    @media #{$l4} {
      padding-left: 0;
      height: auto;
      padding-bottom: 50px;
    }

    @media #{$l5} {
      height: auto;
      margin-top: 90px;

      &._add {
        margin-top: 20px;
      }
    }

    .map-box {
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1;

      &:after {
        display: block;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 16px;
        margin-left: -15px;
        content: " ";
        background: image-url("map-curves.png") repeat-y;
        position: absolute;
        z-index: 2;
      }


      @media #{$l4} {
        width: 100%;
        z-index: 22;

        &.one-photo {
          display: none;
        }

        &.new-photo {
          position: static;
          height: 200px;
        }

        &:after {
          content: none;
          display: none;
        }
      }
    }

    .contents {
      padding: 36px 10px 0 10px;

    &.one-photo {
      padding: 69px 30px 174px 30px;

      @media #{$l4} {
        padding: 69px 15px 174px;
      }
    }

      h2 {
        font: bold 22px/28px 'Roboto';
        padding: 0;
        margin: 0;
      }
    }

    .actions {

    }

    .image-description {
      position: relative;
    }

  }
}

.data-block {
  margin: 20px 0 0 0;
  overflow: hidden;
  height: 426px;

  .photo-block {
    width: 50%;
    min-height: 280px;
    float: left;
    margin: 0;
    clear: none;
    position: relative;
    padding-bottom: 30px;

    .description {
      margin: 6px 25px 0 0;

      a.name {
        display: inline-block;
        color: #111;
        margin-left: 5px;
        font: bold 13px/19px 'Roboto';

        &:hover {
          text-decoration: underline;
        }
      }

      .votes {
        font-size: 12px;
        position: relative;
        padding-left: 27px;

        a.can-vote {
          position: absolute;
          top: -4px;
          left: 0;
          color: #000;

          span {
            font-size: 25px;
          }

          .icon-like-hover {
            display: none;
          }

          &:hover {
            color: #9bddfd;

            .icon-like-hover {
              display: block;
            }

            .icon-like {
              display: none;
            }
          }
        }

        a.cant-vote {
          position: absolute;
          top: -4px;
          left: 0;
          color: #000;

          span {
            font-size: 25px;
          }

          .icon-like-hover {
            display: none;
          }

          &:hover {
            color: #cf0000;
          }
        }

        a.voted {
          position: absolute;
          top: -4px;
          left: 0;
          color: #000;

          span {
            font-size: 25px;
          }

          .icon-like-hover {
            display: block;
          }

          .icon-like {
            display: none;
          }

          &:hover {
            color: #000;
          }
        }

        span.counter {
          font: 12px/19px 'Roboto';
          cursor: default;
        }
      }
    }

    .image-area {
      margin: 0 25px 0 0;
      position: relative;

      img {
        max-width: 100%;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        opacity: 0;
        background: #9bddfd image-url("loupe.png") no-repeat 50% 50%;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.back-to-list {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 20;

  @media #{$l4} {
    right: 30px;
  }

  a {
    background: none!important;
    border: 1px solid #333;
    padding-right: 12px;

    &:hover {
      border: 1px solid #b2dbfe;
      background: #b2dbfe!important;

      i, span {
        color: #fff;
      }
    }

    @media #{$l2a} {
      padding-right: 0;

      i {
        display: none;
      }
    }

    @media #{$l4} {
      padding-right: 10px;

      i {
        display: inline;
      }
    }
  }
}

.contents.one-photo {
  position: relative;
  height: 100%;

  @media #{$l4} {
    padding: 69px 30px 174px 30px;
  }

  .big-image {
    position: absolute;
    top: 18px;
    left: 18px;
    right: 18px;
    bottom: 150px;

    @media #{$l4} {
      position: static;
    }

    img {
      max-height: 100%;
      max-width: none;

      @media #{$l4} {
        width: 100%;
      }
    }
  }

  .image-description {
    position: absolute;
    bottom: 18px;
    left: 18px;
    right: 18px;
    height: 150px - 36px;

    @media #{$l4} {
      padding: 0 10px;
    }

    @media #{$l4} {
      left: 6px;
      right: 6px;
      bottom: 24px;
    }

    h2 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font: bold 20px/28px 'Roboto';
      padding: 0;
      margin: 0;

      @media #{$l4} {
        margin-bottom: 7px;
      }
    }

    .user {
      a {
        display: inline-block;
        font: 14px/18px 'Roboto';
        color: #000;
      }
    }

    .votes {
      font-size: 12px;
      position: relative;
      padding-left: 27px;
      margin-left: -5px;

      a.can-vote {
        position: absolute;
        top: -4px;
        left: 0;
        color: #000;

        span {
          font-size: 25px;
        }

        .icon-like-hover {
          display: none;
        }

        &:hover {
          color: #9bddfd;

          .icon-like-hover {
            display: block;
          }

          .icon-like {
            display: none;
          }
        }
      }

      a.cant-vote {
        position: absolute;
        top: -4px;
        left: 0;
        color: #000;

        span {
          font-size: 25px;
        }

        .icon-like-hover {
          display: none;
        }

        &:hover {
          color: #cf0000;
        }
      }

      a.voted {
        position: absolute;
        top: -4px;
        left: 0;
        color: #000;

        span {
          font-size: 25px;
        }

        .icon-like-hover {
          display: block;
        }

        .icon-like {
          display: none;
        }

        &:hover {
          color: #000;
        }
      }

      span.counter {
        font: 12px/19px 'Roboto';
        cursor: default;
      }
    }

    .share {
      border-top: 1px solid #000;
      position: relative;
      margin: 10px 0 0 0;

      @media #{$l4} {
        margin-top: 13px;
      }

      h5 {
        font: 12px/20px 'Roboto';
        color: #000;
        padding: 13px 0 0 0;
        margin: 0;

        @media #{$l4} {
          font-size: 14px;
          padding-top: 22px;
        }

        @media #{$l5} {
          visibility: hidden;
        }
      }

      .social {
        position: absolute;
        top: 12px;
        right: 0;

        @media #{$l4} {
          top: 5px;
          right: -1px;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            float: left;
            font-size: 18px;
            margin: 0 0 0 8px;

            @media #{$l4} {
              font-size: 35px;
              margin: 0 0 0 25px;
            }
          }

          a {
            color: #a5a6ab;
          }

          .vk:hover {
            color: #50779f
          }

          .facebook:hover {
            color: #4267b2
          }

          .odnoklassniki:hover {
            color: #f88d2c
          }
        }
      }
    }
  }
}

.contents.upload-photo {
  position: relative;

  h2 {
    font: 22px/28px 'Roboto';
    color: #000;
    padding: 0;
    margin: 0;
  }

  .scrollable-box {
    height: 440px;
    overflow: hidden;

    .jspHorizontalBar {
      display: none;
    }

    @media #{$l4} {
      height: auto;
    }
  }

  form {
    margin: 14px 0 0 0;
  }

  .group {
    clear: both;

    h4, label {
      font: bold 14px/19px 'Roboto';
      margin: 0;
      padding: 0;
    }

    label, h4.top {
      display: block;
      margin: 5px 0 10px;
      color: #000;
    }

    input {
      font: 12px/18px 'Roboto';
      height: 24px;

      @media #{$l5} {
        height: 40px;
      }

    }

    .postfix {
      font: 12px/18px 'Roboto';
      height: 24px;
      cursor: pointer;
      border-left: 0;

      @media #{$l5} {
        height: 40px;
      }

      span {
        display: inline-block;
        margin-top: 5px;
      }
    }
  }

  .help {
    margin: 2px 0 0 0;
    font: 11px/14px 'Roboto';
    color: #aaa;
  }

  .image-area {
    margin: 10px 0 0 0;
    width: 200px;
    height: 200px;
    border: 1px dotted #666;
    padding: 10px;
    overflow: hidden;
    position: relative;

    @media #{$l5} {
      width: 256px;
      height: 256px;
    }

    .uploaded_image {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      z-index: 20;
      cursor: pointer;

      .message {
        font: 12px/20px 'Roboto';
        color: #000;
        text-shadow: 0 0 3px #eee;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        text-align: center;
        margin: -10px 0 0 -50px
      }
    }

    .loaded_image {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      z-index: 10;

    }

    .dz-file-preview {
      display: none
    }
  }

  .markerplace {
    border: 1px dotted #666;
    height: 88px;
    position: relative;
    margin: 12px 0 0 0;
  }
}

#marker_dot {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
  width: 40px;
  height: 45px;
  z-index: 200
}
