.shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  z-index: 20
}

.inpage-form {
  min-height: 500px;
  position: static!important;
  margin: 24px auto 0!important;
}

.popup, .inpage-form {
  position: fixed;
  top: 120px;
  left: 50%;
  width: 908px;
  margin-left: -454px;
  background: #fff;
  // z-index: 30;
  z-index: 210;

  &.popup-login {
    width: 608px;
    margin-left: -304px;
  }

  &.popup-social {
    width: 708px;
    margin-left: -354px;

    @media #{$l5} {
      width: 100%;
      margin-left: -50%;

      .container {
        margin: 50px 40px;
      }
    }
  }

  &.popup-feedback {
    width: 808px;
    margin-left: -404px;
  }

  &.popup-notice {
    width: 408px;
    margin-left: -204px;

    .container {
      margin: 55px 80px;
    }

    p {
      font: 12px/18px 'Roboto';
      text-align: center;

      a {
        color: #000;
      }
    }
  }

  input, textarea {
    box-shadow: none!important;

    &.password, &.password-confirm {
      background: #fff image-url('password.png') no-repeat 100% 50%;
    }
  }



  .closer {
    position: absolute;
    top: 17px;
    right: 39px;
    width: 21px;
    height: 21px;
    background: image-url("icon-close.png") no-repeat;
    cursor: pointer;
    font-weight: 100;
    text-indent: -3000px;

    span {
      display: none
    }
  }

  .container {
    margin: 55px 130px;
  }

  h1 {
    text-align: center;
    margin: 0;
    padding: 0 0 25px 0;
    font: 700 18px/25px 'Roboto';
    text-transform: uppercase;
  }

  .line {
    clear: both;
    margin: 0 0 20px 0;
  }

  input {
    font: 12px 'Roboto';
    background: #fff;
    height: 25px;
    outline: 0;
    display: inline-block;
    clear: none;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #333;

    &.e {
      border: 1px solid #dcdcdc;
    }
  }

  textarea {
    resize: none;
    font: 12px 'Roboto';
    background: #fff;
    height: 25px;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dcdcdc;

    &.e {
      border: 1px solid #dcdcdc;
    }
  }

  form.valid input {
    border-color: #222;
  }

  form.valid button {
    border-color: #71cff4!important;
    color: #71cff4!important;
  }

  .input-holder {
    height: 45px;
  }

  .input-holder.error {
    height: 45px;

    small.error {
      font: normal 9px 'Roboto';
      color: #fff;
      height: 14px;
      line-height: 13px;
      padding: 1px 6px 0;
      text-transform: uppercase;
      color: #cf0000;
      background: #fff;
      border-top: 1px solid #cf0000;
      opacity: 0.9;
    }

    input, textarea {
      border: 1px solid #cf0000;
    }
  }

  .remember-me {
    font-size: 12px;
    height: 50px;

    input {
      float: left;
      margin: 0;
    }

    label {
      float: left;
      margin: 7px 0 0 5px;
      font: 12px 'Roboto'
    }
  }

  .reset-password {
    height: 50px;

    a {
      font: 12px 'Roboto';
      float: right;
      margin: 6px 0 0 0;
    }
  }

  .social-auth {
    margin-top: 20px;

    .more-line {
      border-top: 1px solid #dedede;
      height: 10px;
      position: relative;

      span {
        display: block;
        width: 80px;
        background: #fff;
        font: 12px/19px 'Roboto';
        text-align: center;
        position: absolute;
        top: -9px;
        left: 50%;
        margin-left: -40px;
      }
    }
  }

  .feed-notice p {
    font-size: 14px;
    padding: 0;
    text-align: center;
    margin: -10px 0 12px 0;
  }

  .actions {
    margin-top: 20px;
  }

  .login-actions {
    margin-top: 0;
    padding-bottom: 15px;
  }

  .social-links {
    text-align: center;
    margin: 20px 0 0 0;

    a {
      display: inline-block;
      width: 52px;
      height: 22px;
      border-radius: 11px;
      margin: 0 6px;
      text-align: center;
      opacity: 0.9;

      span {
        font-size: 42px;
        line-height: 22px;
      }

      &:hover {
        opacity: 1
      }
    }

    .fb {
      color: #505fb2
    }

    .vk {
      color: #5d729c
    }

    .ok {
      color: #f88e2b
    }
  }
}
