.rules {
  margin: 40px 0 40px 0;
  color: #231f20;

  @media #{$l1} {
    margin: 35px 0 35px 0;
  }

  @media #{$l2} {
    margin: 30px 0 30px 0;
  }

  @media #{$l3} {
    margin: 25px 0 25px 0;
  }

  &-add-photo {
    padding: 20px;
    margin-top: -100px;

    @media #{$l5} {
      float: none !important;
      margin-top: 0;
      padding: 0 20px;
    }
  }

  h1 {
    font: 700 42px 'Roboto';
    color: #231f20;
    padding-left: 21px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    @media #{$l1} {
      font: 700 36px 'Roboto';
    }

    @media #{$l2} {
      font: 700 32px 'Roboto';
    }

    @media #{$l3} {
      font: 700 28px 'Roboto';
    }
  }

  h3 {
    font: 700 22px 'Roboto';
    color: #231f20;
    padding-left: 76px;
    margin-top: 55px;
    -webkit-font-smoothing: antialiased;

    @media #{$l1} {
      font: 700 19px 'Roboto';
      padding-left: 66px;
      margin-top: 50px;
    }

    @media #{$l2} {
      font: 700 17px 'Roboto';
      padding-left: 56px;
      margin-top: 45px;
    }

    @media #{$l3} {
      font: 700 15px 'Roboto';
      padding-left: 46px;
      margin-top: 38px;
    }
  }

  p {
    font: 18px 'Roboto';
    color: #231f20;
    padding-left: 76px;

    @media #{$l1} {
      font: 16px 'Roboto';
      padding-left: 66px;
    }

    @media #{$l2} {
      font: 14px 'Roboto';
      padding-left: 56px;
    }

    @media #{$l3} {
      font: 12px 'Roboto';
      padding-left: 46px;
    }
  }
}
