.winners {
  border-top: 2px solid #e8e7e2;
  margin: 27px 0 0 0;
  padding-top: 42px;

  @media #{$l1} {
    margin: 25px 0 0 0;
    padding-top: 38px;
  }

  @media #{$l2} {
    margin: 22px 0 0 0;
    padding-top: 35px;
  }

  @media #{$l3} {
    margin: 18px 0 0 0;
    padding-top: 28px;
  }

  @media #{$l4} {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
  }

  @media #{$m4} {
    .columns {
      max-width: 1152px;
      margin: 0 auto;
      padding: 0;
      float: none;
    }
  }

  h1 {
    font: bold 42px 'Roboto';
    margin: 0;
    padding: 0 0 42px 0;
    text-transform: uppercase;

    @media #{$l1} {
      font: bold 38px 'Roboto';
      padding: 0 0 38px 0;
    }

    @media #{$l2} {
      font: bold 35px 'Roboto';
      padding: 0 0 35px 0;
    }

    @media #{$l3} {
      font: bold 28px 'Roboto';
      padding: 0 0 28px 0;
    }

    @media #{$l4} {
      font-size: 22px;
    }

    @media #{$m1} {
      padding: 0 0 47px 0;
    }
  }

  .no-winners {
    min-height: 323px;
    position: relative;
  }

  .container {
    left: 10%;
    top: 23%;
    width: 40%;
    position: absolute;

    @media #{$l5} {
      position: static;
      width: auto;
      padding: 10px;
    }
  }

  &__subtitle {
    font: 700 50px 'Roboto';
    // text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #111;
    -webkit-font-smoothing: antialiased;

    @media #{$l1} {
      font: 700 40px 'Roboto';
    }

    @media #{$l2} {
      font: 700 34px 'Roboto';
    }

    @media #{$l3} {
      font: 700 28px 'Roboto';
    }

    @media #{$l4} {
      line-height: 40px;
      margin-bottom: 55px;
    }


    @media #{$m1} {
      margin-bottom: 41px;
      br {
        display: none;
      }
    }

    @media #{$m3} {
      margin-bottom: 46px;
      margin-top: 13px;
      font-size: 22px;
    }

    & + .winners-sort {
      margin-top: -63px;
    }
  }

  p {
    font: 18px 'Roboto';
    margin: 32px 0 0 0;
    padding: 0;
    line-height: 30px;

    @media #{$l1} {
      font: 16px 'Roboto';
      margin: 27px 0 0 0;
      line-height: 26px;
    }

    @media #{$l2} {
      font: 14px 'Roboto';
      margin: 25px 0 0 0;
      line-height: 24px;
    }

    @media #{$l3} {
      font: 12px 'Roboto';
      margin: 21px 0 0 0;
      line-height: 19px;
    }

    a {
      color: #000;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px dashed #000
    }
  }
}

.winners-wrap {
  text-align: center;
  font-size: 0;
  margin: 0 auto;
  
  @media #{$m2} {
    padding: 0 20px;
  }

  @media #{$m3} {
    padding: 0 110px;
  }

  @media #{$m4} { 
    padding: 0 20px;
  }

  &.row {
    @media #{$m2} {
      text-align: left;
      padding: 0 14px;
    }
  }
}

.winners-item {
  display: inline-block;
  width: 280px;
  height: 405px;
  margin: 0 10px 50px;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  text-align: left;
  vertical-align: top;

  @media #{$m2} {
    width: 170px;
    height: 236px;
    margin: 0 6px 50px;
  }

  @media #{$m4} { 
    width: 191px;
    height: 267px;
    margin: 0 8px 47px;
  }


  &__photo {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__desc {
    background-color: #f4f3ed;
    position: absolute;
    z-index: 2;
    min-height: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 30px;

    @media #{$m2} {
      min-height: 80px;
      padding: 10px 20px;
    }

    &:before {
      background: linear-gradient(-20deg, #f4f3ed 9px, transparent 0), linear-gradient(20deg, #f4f3ed 10px, transparent 0);
      background-position: -20px 0px;
      background-repeat: repeat-x;
      background-size: 35px 29px;
      content: " ";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0px;
      width: 100%;
      height: 26px;
    }
  }

  &__gift {
    font-size: 14px;
    line-height: 22px;
    padding-left: 42px;
    background-position: left center;
    background-image: image-url("gift.png");
    background-repeat: no-repeat;
    margin-top: 5px;

    @media #{$m2} {
      margin-top: 20px;
    }
  }

  .votes span {
    vertical-align: top;
    color: #000000;

    &.icon-like {
      font-size: 25px;
    }
  }

  &._horizontal {
    width: 100%;
    height: 120px;
    margin-bottom: 56px;

    @media #{$m1} {
      width: 50%;
      margin: 0 0 50px;
      padding-left: 10px;
    }
    

    @media #{$m2} {
      padding-left: 0;
    }

    @media #{$m4} {
      width: 33.33333%;
    }
  }

  &._horizontal & {
    &__photo {
      display: inline-block;
      width: 120px;
      margin-right: 20px;
    }

    &__desc {
      left: 140px;
      right: 10px;
      top: 0;
      bottom: 0;
      min-height: 120px;
      padding: 10px 0;
      background: none;
      &:before {
        display: none;
      }
    }
  }
}

.winners-sort {
  color: #000000;
  text-decoration: underline;
  margin-bottom: 10px;
  display: inline-block;
  margin-bottom: 50px;

  @media #{$m1} {
    float: right;
    margin-top: -58px;
    margin-bottom: 0;
  }

  @media #{$m2} {
    margin-top: -80px;
  }

}
.winners-before {
  max-width: 1152px;
  margin: 0 auto;

  @media #{$m4} {
    .columns {
      padding: 0;
    }
  }
}

.winners-banner {
  max-width: 1152px;
  margin: 20px auto 50px;
  background-color: #99ddff;
  padding: 69px 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;

  a {
    color: #000000;
    text-decoration: underline;
  }

  @media #{$m1} {
    margin: 20px auto 95px;
    padding: 63px 10px;
    padding: 34px 10%;
    font-size: 16px;
    line-height: 27px;

    br {
      display: none;
    }
  }
  @media #{$m4} {
    margin: 20px auto 70px;
    padding: 42px 10%;
  }
}

.winners-more {
  display: block;
  width: 200px;
  height: 37px;
  font-size: 14px;
  line-height: 3px;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 50px;
  background: none;
  margin-top: 10px;
  outline: none;
}