$l1: 'only screen and (max-width: 1350px) and (min-width: 1200px)';
$l2: 'only screen and (max-width: 1199px) and (min-width: 1000px)';
$l2a: 'only screen and (max-width: 1149px)';
$l3: 'only screen and (max-width: 999px)';
$l4: 'only screen and (max-width: 899px)';
$l5: 'only screen and (max-width: 639px)';
$l6: 'only screen and (max-width: 479px)';

$m1: 'only screen and (min-width: 640px)';
$m2: 'only screen and (min-width: 960px)';
$m3: 'only screen and (min-width: 1024px)';
$m4: 'only screen and (min-width: 1200px)';
$m5: 'only screen and (min-width: 1920px)';

body {
  font-size: 16px;
}

@import "normalize";
@import "icons";
@import "layout";
@import "buttons";
@import "slick";
@import "nprogress";
@import "dropzone";
@import "scrollpane";

@import "index";
@import "popup";
@import "about";
@import "rules";
@import "map";
@import "winners";
@import "forms";
