%h2 Вход

= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal'}) do |f|
  .form-group
    %label.col-sm-2.control-label Email
    .col-sm-10
      = f.email_field :email, autofocus: true, class: "form-control"
  .form-group
    %label.col-sm-2.control-label Пароль
    .col-sm-10
      = f.password_field :password, autocomplete: "off", class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :remember_me
          Remember me
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-default{:type => "submit"} Войти
