%section.visual.row.small-uncollapse._404

  .small-6.columns.relative
    = image_tag "404.png", :class => 'back-image'
    .contents

      %h1 404
      .subheader Ошибка. страница не найдена
      .actions
        = link_to about_path, :class => 'rounded-button blue inline', :id => 'about_path' do
          %span.icon-arrow
          %i Назад

      %p Данной страницы не существует!

      %p Вы можете попробовать:
      %ul
        %li - вернуться на <a href="/" >главную страницу</a> сайта;
        %li - проверить правильность введенного адреса в адресной строке <br> браузера;

