= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path, :class => 'active'
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title Фотография добавлена | Карта счастья

%section.map.row
  .small-6.columns

    %h1 Фотография добавлена
    %p.no-photos Она появится после того, как пройдет проверку модераторами. Вы получите уведомление по e-mail как только это случится.