= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path, :class => 'active'
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title Загрузка фотографии | Карта счастья

%section.map.row
  .small-6.columns

    %h1 Карта счастья

    - if user_signed_in?

      - if Photo.user_last_day(current_user).exists?
        %p.no-photos Вы уже отправляли фото сегодня.

      - else
        .main-content._add
          .map-box.new-photo#mapview{:data => {:lat => 61, :lng => 58, :zoom => 3, :empty => asset_path('marker-empty.png')}}

          .contents.upload-photo#uo_page
            %h2 Добавить место

            .scrollable-box
              = form_for @photo, :multipart => true do |f|

                %input(type="hidden" name="photo[region_name]" id="photo_region_name")
                = f.hidden_field :lat
                = f.hidden_field :lng
                = f.hidden_field :zoom

                .group
                  %h4 Загрузите фотографию
                  .image-area
                    .loaded_image#loaded
                    .uploaded_image#dropzone
                      .message Выберите фото
                    = f.hidden_field :image_url
                  #error_explanation.error
                  .help Вы можете загрузить только одну фотографию в день. Размер фотографии не должен превышать <strong>4&nbsp;Мб</strong>.

                  .line
                    %label Название фото
                    = f.text_field :title

                .group
                  %h4.top Укажите место, где была сделана фотография

                  .line.row.collapse
                    .small-4.columns
                      %input(type="text" name="_fake_address" id="_fake_address" placeholder="Адрес")
                    .small-2.columns
                      %span.postfix#geo_code_address
                        Показать на карте

                  .markerplace#marker_place
                    #marker_dot

                  .help Вы можете перетащить пин на карту, в то место, которое хотите добавить

                .actions.row
                  .small-6.columns
                    %button.rounded-submit.right(type="submit") Отправить


    - else
      %p.no-photos <a href="#" class="js-login">Авторизуйтесь</a> или <a href="#" class="js-register">зарегистрируйтесь</a> чтобы добавлять фотографии.