= content_for :social do

  %meta{ :property => "og:title", :content => @photo.title }
  %meta{ :property => "og:description", :content => @photo.user.last_name + ' ' + @photo.user.first_name }
  %meta{ :property => "og:image", :content => 'http://'+request.host_with_port + @photo.image_url(:main) }
  %link{ :rel => "image_src",  :href => 'http://'+request.host_with_port + @photo.image_url(:main) }


= content_for :main do
  .small-1.columns.centered
    = link_to "О конкурсе", about_path
  .small-1.columns.centered
    = link_to "Карта счастья", map_path, :class => 'active'
  .small-1.columns.centered
    = link_to "Победители", winners_path
  .small-1.columns.centered
    = link_to "Правила", rules_path

= content_for :page_title do
  %title= @photo.title + " | Карта счастья"

%section.map.row
  .small-6.columns

    %h1 Карта счастья

    .main-content
      .map-box.one-photo#mapview{:data => {:lat => @photo.lat, :lng => @photo.lng, :zoom => 11, :id => @photo.id, :icon => @photo.image_url(:marker), :empty => asset_path('marker-empty.png')}}


      .contents.one-photo

        .back-to-list
          = link_to map_path(@photo.region.alias_path), :class => 'rounded-button grey' do
            %span.icon-arrow
            %i Вернуться на карту

        .big-image
          = image_tag @photo.image_url(:main)

        .image-description
          %h2{title: @photo.title}= @photo.title
          .user
            %a.user-page{:href => '/user/'+@photo.user_id.to_s}
              = @photo.user.last_name + ' ' + @photo.user.first_name
          .votes
            - if @can_vote
              %a.can-vote.js-vote{:href => '#', :data => {:id => @photo.id}}
                %span.icon-like
                %span.icon-like-hover
              %span.counter= @photo.votes_for.count

            - else
              - if user_signed_in?
                %a.voted.js-show-popup{:href => '#', :title => 'Вы уже проголосовали', :data => {:id => @photo.id, :description => 'За каждую фотографию можно голосовать всего один раз'}}
                  %span.icon-like
                  %span.icon-like-hover
                %span.counter= @photo.votes_for.count
              - else
                %a.cant-vote.js-social{:href => '#', :title => 'Необходимо авторизоваться', :data => {:id => @photo.id, :description => 'Для того, чтобы иметь возможность голосовать, необходимо войти или зарегистрироваться'}}
                  %span.icon-like
                  %span.icon-like-hover
                %span.counter= @photo.votes_for.count
          .share
            %h5 Поделиться с друзьями
            .social
              %ul
                - decoded_url = Rack::Utils.escape('http://'+request.host_with_port+'/photos/'+@photo.id.to_s)
                %li
                  %a.vk{ :href => 'http://vk.com/share.php?url='+decoded_url }
                    %span.icon-vk-round
                %li
                  %a.facebook{ :href => 'http://www.facebook.com/sharer/sharer.php?u='+decoded_url }
                    %span.icon-facebook-round
                %li
                  %a.odnoklassniki{ :href => 'http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl='+decoded_url+'&title='+Rack::Utils.escape(@photo.title) }
                    %span.icon-odnoklassniki-round
