- content_for :header do

  .pull-right
    = link_to admin_regions_path, :class => 'button button-hollow button-round button-small preview-website' do
      Вернуться к списку

    = link_to admin_region_photos_path(:region_id => @region.id, :sort => 'newest'), :class => 'button button-hollow button-round button-small preview-website' do
      Список фотографий

  .breadcrumbs
    Фотографии в регионе:<br>
    = @region.title



  - if Region.has_tile(@region).exists?

    .bordered-tile

      %h4 Фото для карты:

      .map-block
        - @tile = Photo.where(:region_id => @region.id).where(:is_tile => true).first
        = image_tag @tile.tile_url



  %nav.tabs
    %ul
      - if params[:sort] == 'popular'
        %li
          = link_to "Свежие", admin_region_photos_path(:region_id => @region.id, :sort => 'newest')
        %li.active
          = link_to "Популярные", admin_region_photos_path(:region_id => @region.id, :sort => 'popular')
      - else
        %li.active
          = link_to "Свежие", admin_region_photos_path(:region_id => @region.id, :sort => 'newest')
        %li
          = link_to "Популярные", admin_region_photos_path(:region_id => @region.id, :sort => 'popular')

.table-container


  %table.table
    %thead
      %tr
        %th(style="width: 30px")
        %th
          Название
        %th(style="width: 200px; text-align: center") Пользователь
        %th(style="width: 100px; text-align: right")

    - @photos.each do |photo|
      - if photo.is_approved
        %tr
          %td
            .image-tiny
              = link_to photo.image_url, :class => 'fancybox' do
                = image_tag photo.image_url(:tiny)
          %td
            = link_to admin_region_photo_path(@region.id, photo.id) do
              = photo.title
          %td(style="text-align:left")
            = link_to (photo.user.first_name + '&nbsp;' + photo.user.last_name).html_safe, admin_user_path(photo.user.id)
          %td(style="text-align:center")
            - if !photo.is_tile
              = link_to make_tile_admin_region_photo_path(@region.id, photo.id), :method => "post", :title => 'Добавить на карту' do
                %span.icon.icon-plus
            - else
              %span.icon.icon-min

      - else
        %tr.unapproved
          %td
            .image-tiny
              = image_tag photo.image_url(:tiny)
          %td
            = link_to admin_region_photo_path(@region.id, photo.id) do
              = photo.title
          %td(style="text-align:left")
            = link_to (photo.user.first_name + '&nbsp;' + photo.user.last_name).html_safe, admin_user_path(photo.user.id)
          %td(style="text-align:center")
            - if !photo.is_tile
              = link_to make_tile_admin_region_photo_path(@region.id, photo.id), :method => "post", :title => 'Добавить на карту' do
                %span.icon.icon-plus
            - else
              %span.icon.icon-min

  .pages-container
    = paginate @photos
