- content_for :header do

  .breadcrumbs
    Регионы

  %p Для создания карты необходимо чтобы у каждого региона был выбран тайл или была загружена хотя бы одна заглушка

.table-container


  %table.table
    %thead
      %tr
        %th
          Название
        %th(style="width: 40px; text-align: center") Заглушки
        %th(style="width: 40px; text-align: center")
        %th(style="width: 50px; text-align: right") Фотографий

    - @regions.each do |region|
      - if Region.has_tile(region).exists?
        %tr.tiled
          %td
            = link_to admin_region_path(region.id) do
              = region.title
          %td
            = Region.has_generics(region).size
          %td
            Тайл&nbsp;выбран
          %td(style="text-align:right")
            = region.photos.size
      - else
        - if !Region.has_generics(region).exists?
          %tr.untiled
            %td
              = link_to admin_region_path(region.id) do
                = region.title
            %td
              = Region.has_generics(region).size
            %td
              Тайл&nbsp;не&nbsp;выбран
            %td(style="text-align:right")
              = region.photos.size
        - else
          %tr.tiled
            %td
              = link_to admin_region_path(region.id) do
                = region.title
            %td
              = Region.has_generics(region).size
            %td
              Тайл&nbsp;не&nbsp;выбран
            %td(style="text-align:right")
              = region.photos.size
