- content_for :header do

  .pull-right
    = link_to admin_regions_path, :class => 'button button-hollow button-round button-small preview-website' do
      Вернуться к списку

    = link_to admin_region_photos_path(:region_id => @region.id, :sort => 'newest'), :class => 'button button-hollow button-round button-small preview-website' do
      Список фотографий

  .breadcrumbs
    = @region.title

.table-container

  %table.table.user-table
    %tr
      %th(style="text-align:right; width: 200px") Название
      %td= @region.title
    %tr
      %th(style="text-align:right; width: 200px") Широта
      %td= @region.lat.to_s
    %tr
      %th(style="text-align:right; width: 200px") Долгота
      %td= @region.lng.to_s
    %tr
      %th(style="text-align:right; width: 200px") Фотографии
      %td= @region.photos.size

.container.clearfix.cf
  %br
  %br
  .pull-right
    = link_to new_admin_region_generic_path(@region.id), :class => 'button button-hollow button-round button-small preview-website' do
      Новая заглушка

  %h3
    Картинки-заглушки
    %small(style="color: #ccc")= @generics.size


  %p Эти картинки используются если не в регионе не выбрана картинка для карты

  - if @generics.any?
    .photos-block
      - @generics.each do |photo|
        .photo
          .image
            %a.fancybox{:href => photo.tile_url}
              = image_tag photo.tile_url
          .description
            = link_to "Удалить", admin_region_generic_path(@region.id, photo.id), :method => 'delete'

    .pages-container
      = paginate @photos

  - else
    %p Пока не загружено
