/*
*= require admin/jquery.fancybox
*= require admin/spina
*/


.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.big-map {
  img {
    max-width: 100%
  }
}

td.imagemap {
  img {
    max-width: 100%;
  }
}

tr.primary {
  td {
    background: #eeffdf
  }
}


.pages-container {
  margin: 20px;
}

tr.bordered {
  td, th {
    border-top: 2px solid #ddd
  }
}

.user-table {
  th {
    color: #bbb;
    font-weight: normal;
    text-transform: uppercase;
  }
}


.photos-block {
  clear: both;
  margin: 20px 0 0 0;

  .photo {
    width: 140px;
    float: left;
    clear: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 10px 10px 0;

    img {
      max-width: 100%;
    }
  }

  .description {
    height: 40px;
    overflow: hidden;
  }

}

.image-tiny {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2px;

  img {
    display: block
  }
}

.image-mapper {
  height: 800px;
  position: relative;
  padding-right: 300px;

  .mapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 290px;

    .map {
      border: 1px solid #000;
      width: 280px;
      height: 200px;
    }

    .tile {
      max-width: 290px;
      margin-top: 20px;
    }
  }

  img {
    display: block;
    max-width: 100%
  }
}


.unapproved {
  td {
    background: #eee!important
  }
}

.untiled td, .cancelled td {
  background: #fff4f4
}

.tiled td {
  background: #f6fcf0
}


.bordered-tile {
  margin: 20px 0 10px;

  .map-block {
    height: 100px;
    text-align: center;

    img {
      max-height: 100%;
      margin: 0 auto;
    }
  }
}
