- content_for :header do

  .breadcrumbs
    Пользователи
    %small(style="color: #ccc")
      = User.all.count

.table-container

  - if @users.present?

    %table.table
      %thead
        %tr
          %th
            Имя
          %th
            Дата регистрации
          %th(style="width: 50px;") Фотографий

      - @users.each do |user|
        %tr
          %td
            = link_to admin_user_path(user.id) do
              = user.first_name
              = user.last_name
          %td
            %p= user.created_at.strftime("%Y-%m-%d %H:%M")
          %td
            = user.photos.size

    .pages-container
      = paginate @users

  - else

    %p Пользователей пока не зарегистрировано
