- content_for :header do

  .pull-right
    = link_to admin_users_path, :class => 'button button-hollow button-round button-small preview-website' do
      Вернуться к списку

  .breadcrumbs
    = @user.first_name + ' ' + @user.last_name

.table-container

  %table.table.user-table
    %tr
      %th(style="text-align:right; width: 200px") Имя
      %td= @user.first_name
    %tr
      %th(style="text-align:right; width: 200px") Отчество
      %td= @user.middle_name
    %tr
      %th(style="text-align:right; width: 200px") Фамилия
      %td= @user.last_name
    %tr
      %th(style="text-align:right; width: 200px") Email
      %td= @user.email
    %tr.bordered
      %th(style="text-align:right; width: 200px") Индекс
      %td= @user.post_index
    %tr
      %th(style="text-align:right; width: 200px") Город
      %td= @user.city
    %tr
      %th(style="text-align:right; width: 200px") Улица
      %td= @user.street
    %tr
      %th(style="text-align:right; width: 200px") Номер дома
      %td= @user.street_number
    %tr
      %th(style="text-align:right; width: 200px") Корпус
      %td= @user.house_type
    %tr
      %th(style="text-align:right; width: 200px") Номер квартиры
      %td= @user.apts_number
    %tr.bordered
      %th(style="text-align:right; width: 200px") Дата регистрации
      %td= @user.created_at.strftime("%Y-%m-%d %H:%M")
    - if @user.last_sign_in_at.present?
      %tr
        %th(style="text-align:right; width: 200px") Дата последнего захода
        %td= @user.last_sign_in_at.strftime("%Y-%m-%d %H:%M")

.container
  %br
  %br
  %h3
    Фотографии
    %small(style="color: #ccc")= @user.photos.size

  - if @user.photos.any?
    .photos-block
      - @user.photos.each do |photo|
        .photo
          .image
            = image_tag photo.image_url(:thumb)
          .description
            %span.title
              = link_to photo.title, admin_photo_path(photo.id)

  - else
    %p Пока не загружено
