- winners.each do |winner|
  .winners-item._horizontal
    = image_tag winner.photo.image.thumb.url, :class => 'winners-item__photo'
    .winners-item__desc
      %b= winner.user.name
      .votes
        %span
          %span.icon-like
        %span.counter= winner.photo.cached_votes_up