!!!
%html
  %head
    %title Photostrana | Admin
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

    = csrf_meta_tags
    = stylesheet_link_tag    'admin', media: 'all'
  %body
    = render 'admin/common/sidebar'
    %nav#primary
      %ul
        = yield :primary
        %li.bottom
          = link_to destroy_admin_session_path, :method => :delete do
            %i.icon.icon-power-off

    %nav#secondary
      %h1 Фотострана
      %ul
        = yield :secondary


    %section#main
      %header#main_content_header
        - flash.each do |key, value|
          %div{:class => 'permanent-notice permanent-notice-'+key }
            %p= value

        = yield :header

      = yield

    / Aviary editor
    #injection_site

    = javascript_include_tag 'admin'
