!!!
%html
  %head
    = yield :page_title
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:name => "google-site-verification", :content => "1eKb7aHn659lmix89wN8uNn-qZndvai1B4Xi_hsADho"}
    %meta{:name => "yandex-verification", :content => "5791045f494ebdd5"}

    = yield :social
    = csrf_meta_tags
    = javascript_include_tag "vendor/modernizr"
    %link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "//api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.full&onload=app.module.map.load"
    = javascript_include_tag 'application'
  %body
    .layout
      .menu
        %button.js-menu-sandwich.menu-sandwich(type="button")
        %header.main.row
          .small-2.small-offset-2.columns
            %a.logo(href="/" title="Sokolov Jewelry")

          %nav.user-controls
            %ul
              - if user_signed_in?
                %li
                  %span.user-name= current_user.name
                  = link_to destroy_user_session_path, :method => :delete, :class => 'login do-logout' do
                    %i.icon-logout
                    %span Выход
              - else 
                %li
                  = link_to destroy_user_session_path, :class => 'login js-social' do
                    %i.icon-login
                    %span Вход

        %nav.main.row
          = yield :main

          .small-2.columns.header-right
            %ul
              %li.social
                %a{:href => "https://vk.com/sokolov.russia", :target => "_blank"}
                  %i.icon-vk
              %li.social
                %a{:href => "https://www.facebook.com/sokolov.russia", :target => "_blank"}
                  %i.icon-facebook
              %li.social
                %a{:href => "https://www.youtube.com/user/sokolovrussia", :target => "_blank"}
                  %i.icon-youtube
              %li.social
                %a{:href => "http://instagram.com/sokolov.russia", :target => "_blank"}
                  %i.icon-instagram
              %li.social
                %a{:href => "http://www.odnoklassniki.ru/sokolov.russia", :target => "_blank"}
                  %i.icon-odnoklassniki

              %li.feedback-link-wrap
                %a.js-feedback{:href => "#"} Обратная связь

      = yield

      %footer.main.row

        = yield :main

        .small-1.columns.col

          .social
            %h4 О конкурсе в соц. сетях:
            %ul
              %li
                %a{:href => "https://vk.com/sokolov.russia", :target => "_blank"}
                  %i.icon-vk
              %li
                %a{:href => "https://www.facebook.com/sokolov.russia", :target => "_blank"}
                  %i.icon-facebook
              %li
                %a{:href => "https://www.youtube.com/user/sokolovrussia", :target => "_blank"}
                  %i.icon-youtube
              %li
                %a{:href => "http://instagram.com/sokolov.russia", :target => "_blank"}
                  %i.icon-instagram
              %li
                %a{:href => "http://www.odnoklassniki.ru/sokolov.russia", :target => "_blank"}
                  %i.icon-odnoklassniki

        .small-1.columns.footer-feedback
          %a.js-feedback{:href => "/"} Обратная связь

      %footer.copys.row
        - if user_signed_in?
          #user_data{:data => {:first_name => current_user.first_name, :last_name => current_user.last_name, :email => current_user.email}}
        .owner_link
          %a{:href => "https://sokolov.ru"}
            SOKOLOV.RU
%noscript
  %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-K576VC", :style => "display:none;visibility:hidden", :width => "0"}

%noscript
  %div
    %img{:src => "https://mc.yandex.ru/watch/31516263?ut=noindex", :style => "position:absolute; left:-9999px;", :alt => ""}

:javascript
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=QjexmnuBowI8PymiSiQB1IzhsDDUQkzYjdK6cVh6A1uBEUB2VIy6Sja8UhJ6teRW1Qz3LmQ0jtgo0Tc*IRkG1bCpjn8Zdp*5tj9voy03MdMkLXWbX8l0KyTtDBoej/uUvo3TOymUFdEcxhKzWZEEUYaLpuG92BKojgghOVLx*Ss-';